@import '../../../variables.scss';

.gyms-container {
  background: $gray-bg;
  overflow: scroll;
  max-height: 100vh;

  a {
    text-decoration: none;
  }

  .gyms__header {
    width: 100%;
    text-align: center;
    padding-top: calc(7vw + 40px);

    h1 {
      text-transform: uppercase;
      font-family: $slab-font;
      font-size: 2em !important;
      color: $brand-color-03;
      padding: 0;
      margin: 0;
      display: inline-block;

      &:first-child {
        background: -webkit-linear-gradient(45deg, $brand-color-01, $brand-color-03);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:last-child {
        font-weight: 900;
        margin-left: 0.25em;
      }
    }
  }

  .gyms__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .gyms__list {
      width: 100%;

      .list-title {
        display: block;
        width: 100%;
        text-align: center;
        font-family: $lato-font;
        font-size: 1.1em;
        color: #282828;
        text-align: center;
        margin-bottom: 5vw;
      }
    }
  }

  .gyms__cta {
    padding: 0 7vw 7vw 7vw;
  }
}
