@import '../../../variables.scss';

.profile-notifications {
  ion-item {
    --background: none;
    --padding-start: 0;
    --border-width: 0;
    --border-color: #e5dfe2;
    border-top: 1px solid $gray-80;
  }

  .item {
    ion-label {
      padding: 20px 0;
      font-weight: 600;
      white-space: normal;
      font-family: $lato-font;
      color: $gray-15;
      span {
        display: block;
        font-size: 12px;
        font-weight: 400;
        margin-top: 5px;
      }
    }

    ion-toggle {
      --background-checked: #42c47f;
    }
  }
}
