@import '../../../variables.scss';

.privacy__container {
  padding: 7vw;

  a {
    text-decoration: none;
  }

  .privacy-btn {
    background: white;
    border: 0;
    margin: 0;
    font-size: 1em;
    width: 100%;
    padding: 12px 4px 12px 20px;
    border-radius: 8px;
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;

    &__label {
      font-size: 1em;
      font-weight: 700;
      color: $gray-15;
    }

    &__img {
      width: 40px;
      height: 40px;
    }
  }
}
