@import '../../../variables.scss';

.alert-bg {
  background: rgba(0, 0, 0, 0.7) !important;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  z-index: 1000;

  &.showing {
    pointer-events: initial;
    opacity: 1;

    .alert {
      transform: translateY(0);
    }
  }

  .alert {
    background: $gray-bg;
    height: 90%;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transform: translateY(-100vh);

    .close {
      position: absolute;
      top: 5vw;
      right: 0;
      background: none;
      opacity: 0.7;

      &:active,
      &:focus {
        outline: none;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &.persist {
      height: 100%;
      border-radius: 0px;
    }

    a {
      width: 100%;
    }

    h1,
    p {
      width: 100%;
      color: $gray-15;
      font-family: $lato-font;
      text-align: center;
    }

    h1 {
      font-size: 1.5em;
      font-weight: 700;
    }

    p {
      font-size: 1em;
      line-height: 1.5em;
    }

    .icon-container {
      margin: auto;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      width: 50vw;
      height: 50vw;
      border-radius: 100px;
      padding: 10vw;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .bold {
      font-weight: 900;
    }
  }
}
