@import '../../variables.scss';

.pdf-container {
  .top {
    padding: 0 9vh;
    height: 16vh;
    align-items: center;
    justify-content: center;
    display: flex;

    h1 {
      text-transform: uppercase;
      font-family: $slab-font;
      font-size: 1em !important;
      color: $gray-15;
      margin: 0;
      display: inline-block;
      text-align: center;
    }
  }

  ion-spinner {
    width: 20vw;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: $brand-color-03;
  }

  iframe {
    height: 100vh;
    border: 0;
    z-index: 2;
  }
}
