@import '../../../variables.scss';

.gym-details__container {
  overflow: scroll;
  max-height: 100vh;
  background: #f6f1f3;

  .gym-details__header {
    max-height: 55vh;
    height: 55vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    background-image: linear-gradient(0deg, #191616 0%, rgba(0, 0, 0, 0) 70%),
      radial-gradient(
        circle at left top,
        rgba(242, 60, 46, 0.9) 0%,
        rgba(169, 7, 102, 0.6) 45%,
        rgba(125, 2, 72, 0) 80%
      ),
      url('/img/backgrounds/gym.png');
    background-size: cover;
    background-position: left top, center;
    padding-bottom: 10vh;

    .gym__logo {
      text-align: center;
      width: 100%;
      flex-direction: column;

      .line {
        width: 2px;
        background: white;
        height: 50px;
        margin: auto;
        margin-bottom: 10px;
      }
    }

    .gym__name {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-family: $slab-font;
      color: white;
      font-weight: 900;
      width: 100%;
      font-size: 1.9em !important;
      margin-top: 5.5vh;
    }
  }

  .gym-details__content {
    position: relative;
    background: white;
    width: 100%;

    .section {
      padding: 9vw;

      &__title {
        font-family: $lato-font;
        width: 100%;
        text-align: center;
        font-weight: 700;
        color: $gray-15;
        margin: 0;
      }

      .section__item {
        width: 100%;
        text-align: center;
        margin-top: 6vw;
        font-family: $lato-font;
        font-size: 1.1em;
        color: $gray-15;

        &-label {
          width: 100%;
          display: block;
          margin-bottom: 10px;
        }
      }

      hr {
        background: $gray-80;
        width: 100%;
        margin-top: 9vw;
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .schedules,
    .contacts {
      background: #f6f1f3;
      padding-bottom: 5px;
    }

    .address {
      background: #f6f1f3;

      .address__text {
        width: 100%;
        text-align: center;
        font-family: $lato-font;
        font-size: 1.1em;
        color: $gray-15;
      }
    }
  }
}
