@import '../../../variables.scss';

.badge-tabs {
  .mdc-tab {
    text-transform: none;
    color: $brand-color-03;
    font-family: $slab-font;
    font-size: 0.8em;
    font-weight: 700;
    background: none;
    width: auto;
    text-transform: uppercase;
    padding-top: 2px;
    z-index: 5;
    height: 35px;
  }

  .mdc-tab--active {
    border-radius: 33px;
    color: white;
    background: $gray-15;
    z-index: 3;
  }

  .mdc-tab-indicator__content--underline {
    display: none;
  }

  .mdc-tab__ripple::before,
  .mdc-tab__ripple::after {
    background: none;
  }
}
