@import '../../variables.scss';

.exercise-timer {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;

  .exercise-timer-loading {
    position: absolute;
    left: calc((100vw - 250px) / 2);
    right: 0;
    width: 250px;
    height: 250px;
    border-radius: 200px;
    background: linear-gradient(rgba(168, 7, 102, 0) 30%, $brand-color-01 60%, $brand-color-03 100%);
    animation: rotation 2s infinite linear;
  }

  .exercise-timer-digits {
    position: relative;
    width: 230px;
    height: 230px;
    background: white;
    border-radius: 200px;
    display: flex;
    align-items: center;

    h1 {
      font-family: $slab-font;
      width: 100%;
      font-weight: 500;
      text-align: center;
      font-size: 3em;
    }

    .fab {
      position: absolute;
      top: calc(115px - 32px);
      right: -32px;
      z-index: 300;
    }
  }

  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }
}
