@import '../../../variables.scss';

.contact__container {
  min-height: 100vh;
  overflow-y: scroll;

  .contact-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .contact__form {
    background: $gray-bg;
    padding: 14vw 7vw 0 7vw;
    margin-top: 300px;

    .form__row {
      margin-bottom: 12vw;

      .list-toggle {
        background: white;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: left;
        font-family: $lato-font;
        font-weight: 700;
        font-size: 1.1em;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 8px 10px;
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 10px;

        &__label {
          padding: 0;
          margin: 0;
          flex-grow: 1;
        }

        &__icon {
          margin-top: 2px;
        }
      }
    }
  }
}
