@import '../../../variables.scss';

.modality-container {
  background: white;

  .fixed-bottom {
    position: fixed;
    bottom: 7vw;
    left: 7vw;
    right: 7vw;
  }

  .classes {
    background: linear-gradient(180deg, #ffffff 0%, #f0eaed 100%);
    color: $gray-15;
    margin: 0;
    padding: 20px 0 0 20px;
    max-width: 100%;

    .schedules-title {
      display: block;
      width: 100%;
      padding-right: 20px;
      text-align: center;
      font-family: $lato-font;
      padding: 10px 0;
      margin-left: -10px;

      &.solo {
        padding-bottom: 30px;
      }
    }

    .schedules-title {
      display: block;
      width: 100%;
      padding-right: 20px;
      text-align: center;
    }

    .classes-list {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      pointer-events: all;
      margin-left: -20px;
      padding: 25px 0 25px 20px;

      &::-webkit-scrollbar {
        display: none;
      }

      .class-mini-card {
        margin-right: 20px;
        font-size: 0.7em;
      }
    }

    .classes-timer {
      padding-right: 20px;
      padding-bottom: 30px;
      text-align: right;
      font-family: $lato-font;
      color: $gray-40;
      font-size: 0.9em;
    }
  }
}
