@import '../../../variables.scss';

.list__container {
  overflow-y: scroll;

  h2 {
    font-size: 1em;
    margin: 85px 0 0 30px;
  }

  .list-list {
    padding: 7vw;
    margin-top: 40px;

    a {
      text-decoration: none;
      color: inherit;
    }

    .download-btn {
      background: white;
      border: 0;
      margin: 0;
      font-size: 1em;
      width: 100%;
      padding: 12px 4px 12px 20px;
      border-radius: 8px;
      box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.15);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 28px;
      margin-top: 20px;
  
      &__label {
        font-size: 1em;
        font-weight: 700;
        color: $gray-15;
      }
  
      &__img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
