@import '../../../variables.scss';

.loading {
  --spinner-color: $brand-color-02;

  .loading-wrapper {
    color: $brand-color-02;
    background: $gray-95;

    .loading-content {
      color: $gray-15;
    }
  }
}
