@import '../../../variables.scss';

.evolution__container {
  background: white;

  .evolution__background {
    max-height: calc(4vh + 130px);
    height: calc(4vh + 130px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    background-image: linear-gradient(0deg, #191616 0%, rgba(0, 0, 0, 0) 70%),
      radial-gradient(
        circle at left top,
        rgba(242, 60, 46, 0.9) 0%,
        rgba(169, 7, 102, 0.6) 55%,
        rgba(125, 2, 72, 0) 90%
      ),
      url('/img/backgrounds/metrics.png');
    background-size: cover;
    background-position: left top, center;

    .page-title {
      margin: 0;
      font-family: $lato-font;
      width: 100%;
      text-align: center;
      color: white;
      font-size: 1.1em;
      font-weight: 700;
      padding-top: calc(1vh + 7px);
    }
  }

  .evolution__foreground {
    padding: 7vw 0;
    padding-bottom: 100px;

    .evolution__tabs {
      padding: 0 7vw;

      .badge-tabs {
        .mdc-tab {
          padding: 2px 16px 0 16px;
        }
      }
    }

    .selected__container {
      text-align: center;
      padding-bottom: 7vw;

      .value {
        font-size: 3.7em;
        font-family: $slab-font;
        font-weight: 500;
        margin-right: 5px;
        color: $gray-15;
      }

      .value-decimal {
        font-size: 2em;
        font-family: $slab-font;
        font-weight: 500;
        color: $gray-15;
      }

      .description {
        display: block;
        margin-top: 7px;
        color: $gray-40;
      }
    }

    .evolution__chart {
      padding: 7vw 0;
    }
  }

  .zoom-control {
    margin: auto;
    background: white;
    border-radius: 50px;
    width: 176px;
    height: 50px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;

    .control-separator {
      height: 80%;
      width: 1px;
      background: #c3c3c3;
      align-self: center;
    }

    .zoom-btn {
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      font-size: 1em;
      flex-grow: 1;
      display: flex;
      margin-top: -4px;
      flex-direction: column;
      align-items: center;

      span {
        margin-top: -8px;
        display: block;
        font-family: $lato-font;
        text-align: center;
        font-size: 0.8em;
        color: $gray-40;
      }
    }
  }
}
