@import '../../../variables.scss';

.progress-card {
  width: 165px;
  height: 182px;
  padding: 20px 10px;
  border-radius: 16px;
  background: linear-gradient(180deg, #f8576e 0%, #c31a39 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  color: white;

  &.-red {
    background: linear-gradient(180deg, $dashboard-red-start 0%, $dashboard-red-end 100%);
  }

  &.-orange {
    background: linear-gradient(180deg, $dashboard-orange-start 0%, $dashboard-orange-end 100%);
  }

  &.-pink {
    background: linear-gradient(180deg, $dashboard-pink-start 0%, $dashboard-pink-end 100%);
  }

  &.-purple {
    background: linear-gradient(180deg, $dashboard-purple-start 0%, $dashboard-purple-end 100%);
  }

  &__icon {
    margin-top: -5px;
    width: 55px;
  }

  &__value {
    .value-current {
      font-family: $slab-font;
      font-size: 2em;
    }
    .value-goal {
      padding-left: 3px;
      font-family: $lato-font;
      font-size: 1.1em;
    }
  }

  &__label {
    font-family: $lato-font;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
  }

  &__bar {
    width: 80%;
    height: 3px;
    background: rgba(40, 40, 40, 0.5);
    border-radius: 10px;
    overflow: hidden;

    .bar__filled {
      width: 70%;
      height: 100%;
      background: white;
    }
  }
}
