.auth-header {
  width: 100%;
  background: none;
  padding-bottom: 10vh;
  position: relative;

  .logo {
    margin: auto;
    margin-top: 15px;
  }

  ion-grid {
    margin: 0;
    padding: 0;

    .back-btn {
      width: 40px;
      height: 40px;
      background: none;
      padding: 0 !important;
      align-self: flex-end;
      margin-left: -10px;
      margin-bottom: -5px;

      &:active,
      &:focus {
        outline: none;
      }

      &:active {
        opacity: 0.5;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    ion-row {
      height: 7vh;
      display: flex;
      margin: 0;
      padding: 0;

      // The 2px vertical white line,
      // above the logo
      div {
        margin: auto;
        width: 2px;
        height: 100%;
        background: white;
      }
    }
  }
}
