.receipts__group {
  padding: 20px 0;
  border-bottom: 1px solid #c3c3c3;

  &.-expanded {
    .group-toggle {
      transform: rotate(180deg);
    }
  }

  .group-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .group-title {
      flex-grow: 1;
    }

    .group-toggle {
      width: 40px;
      margin-right: -25px;
      padding: 0;
      margin: 0;
      background: none;
      transition: 0.15s;
    }
  }

  .rule-description {
    font-size: 0.9em;
  }
}
