@import '../../variables.scss';

.search-result {
  margin: 0 7vw;
  padding: 7vw 0 0 0;

  &__title {
    color: white;
    display: block;
    text-align: right;
    width: 100%;
    font-family: $lato-font;
    font-size: 0.9em;
  }

  .gym__list {
    margin-bottom: 7vw;
  }
}
