@import '../../../variables.scss';

.about-container {
  background: $gray-bg;
  overflow: scroll;
  max-height: 100vh;
  padding-top: 7vw;
  padding-bottom: 20vw;
  overflow-x: hidden;

  ion-grid,
  ion-row {
    padding: 0;
    margin: 0;
  }

  ion-row {
    margin-bottom: 7vw;
  }

  .page-header {
    width: 100%;
    text-align: center;
    margin-top: 40px;

    h1 {
      text-transform: uppercase;
      font-family: $slab-font;
      font-size: 2em !important;
      color: $brand-color-03;
      padding: 0;
      margin: 0;
      display: inline-block;

      &:first-child {
        background: -webkit-linear-gradient(45deg, $brand-color-01, $brand-color-03);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:last-child {
        font-weight: 900;
        margin-left: 0.25em;
      }
    }
  }

  .tab-bar {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .mdc-tab:first-child {
      margin-left: 7vw;
    }

    .mdc-tab:last-child {
      margin-right: 7vw;
    }
  }

  .slide {
    width: 86vw;
    margin-left: 7vw;

    p,
    ul {
      font-family: $lato-font;
      font-size: 1.05em;
      line-height: 1.5em;
    }

    p {
      text-align: justify;
      text-justify: inter-word;
    }

    ul {
      margin: 0;
      padding: 0;
      margin-left: 7vw;

      li {
        margin-top: 15px;
      }
    }
  }

  .btn-wrapper {
    position: fixed;
    bottom: 7vw;
    left: 7vw;
    right: 7vw;
  }
}
