@import '../../../variables.scss';

.premium__container {
  overflow: scroll;
  max-height: 100vh;
  background: white;

  ion-grid,
  ion-row,
  ion-col {
    padding: 0;
    margin: 0;
  }

  .premium__header {
    max-height: 55vh;
    height: 55vh;
    background-image: url('/img/backgrounds/premium.jpg');
    background-size: cover;
    background-position: top, center;

    .header__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding-bottom: 10vh;
    }

    h1 {
      text-transform: uppercase;
      font-family: $slab-font;
      color: white;
      font-size: 2em !important;
      font-weight: 900;
      width: 100%;
      text-align: center;
      margin: 0;
      margin-top: 4vw;
    }

    .overlay {
      position: relative;
      height: 100%;
      border-radius: 16px;
      overflow: hidden;
      width: 100%;
    }

    .overlay::before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
      z-index: 5 !important;
      mix-blend-mode: overlay;
      background: radial-gradient(
        circle at bottom center,
        #c8b850 0%,
        #978836 50.65%,
        rgba(152, 136, 54, 0) 100%
      );
    }

    img {
      width: 80px;
      margin: 0 auto;
    }

    ion-row {
      z-index: 0;
    }
  }

  .premium__content {
    position: relative;
    background: white;
    width: 100%;
    padding: 7vw;

    h2 {
      width: 100%;
      text-align: center;
      font-family: $lato-font;
      padding: 0 10vw;
      font-weight: 700;
      color: $premium-gold;
    }

    .adv {
      margin-top: 20vw;
      width: 100%;

      .badge {
        width: 160px;
        height: 160px;
        padding: 40px;
        border-radius: 100px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(201, 185, 81, 0.3) 100%);
        margin: auto;

        img {
          width: 80px;
          height: 80px;
        }
      }

      h4 {
        width: 100%;
        text-align: center;
        font-family: $lato-font;
        margin-top: 10vw;
        color: $gray-15;
        font-weight: 700;
      }

      p {
        width: 100%;
        text-align: center;
        font-family: $lato-font;
        color: $gray-15;
        font-size: 1.1em;
        line-height: 1.7em;
      }
    }
  }
}
