@import '../../variables.scss';

.nutrition-header__avatar {
  position: fixed;
  top: 4vh;
  right: 7vw;

  a {
    display: block;
  }
}

.nutrition__container {
  background: white;
  min-height: 100vh;

  .nutrition__background {
    max-height: calc(4vh + 250px);
    height: calc(4vh + 250px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    background-image: linear-gradient(0deg, #191616 0%, rgba(0, 0, 0, 0) 70%),
      radial-gradient(
        circle at left top,
        rgba(242, 60, 46, 0.9) 0%,
        rgba(169, 7, 102, 0.6) 45%,
        rgba(125, 2, 72, 0) 80%
      ),
      url('/img/backgrounds/gym.png');
    background-size: cover;
    background-position: left top, center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;

    .page-title {
      margin: 0;
      font-family: $lato-font;
      color: white;
      font-size: 1.4em;
      font-weight: 700;
      padding-top: calc(4vh + 7px);
      text-align: center;
    }

    .gym-name {
      color: white;
      margin-top: 5px;
      display: block;
    }
  }

  .nutrition__foreground {
    min-height: calc(100vw - (4vh + 250px));
    padding: 7vw;

    .form__title {
      width: 100%;
      font-family: $lato-font;
      color: $gray-15;
      margin-bottom: 7vw;
      text-align: center;
      display: block;
    }

    .nutrition__form {
      .form__row {
        margin-bottom: 12vw;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .open-list-button {
        background: white;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: left;
        font-family: $lato-font;
        font-weight: 700;
        font-size: 1.1em;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 10px 10px;
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 10px;
        border: 1px solid lightgray;
        margin-bottom: 10vw;

        b {
          padding: 0;
          margin: 0;
          flex-grow: 1;
          text-transform: uppercase;
        }
      }
    }

    .line-input,
    .select-input {
      margin-bottom: 10vw;
    }

    .btn {
      font-size: 0.75em;
    }
  }
}
