@import '../../variables.scss';

.chart__container {
  position: relative;
  background: white;

  .chart__wrapper {
    width: 100%;
    background: none;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      opacity: 0;
      display: none;
    }

    .chart {
      overflow: visible;
    }

    .arrow {
      z-index: 500;
      position: absolute;
      bottom: 12px;
      left: calc(50vw - 10px);
    }

    .modal {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 4vw;

      img {
        width: 75%;
      }

      p {
        font-size: 0.9em;
        font-family: $lato-font;
        margin-top: 4vh;
        color: white;
        text-align: center;
      }
    }
  }

  .chart__overlay {
    position: absolute;
    pointer-events: none;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  .chart__background {
    position: absolute;
    pointer-events: none;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.25;
    will-change: opacity;
  }

  .chart__descriptions {
    position: absolute;
    pointer-events: none;
    width: 50%;
    height: 100px;
    top: 0;
    left: 100%;

    transition: 0.3s;

    .chart-description__container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      font-size: 0.9em;
      font-family: $lato-font;
      padding-left: 15px;
    }
  }

  .chart__labels {
    position: absolute;
    pointer-events: none;
    width: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    transition: 0.1s;

    &.-expand {
      opacity: 1;
    }

    .chart-label__container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      font-size: 0.9em;
      font-family: $lato-font;

      .chart-label {
        margin-right: 10px;
        color: $gray-30;
      }
    }
  }

  .chart-title {
    font-family: $lato-font;
    display: block;
    text-align: center;
    font-size: 0.9em;
    margin: 20px 0;
    width: 100%;
  }

  .chart-legend__container {
    padding: 4vw 7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .chart-legend {
      display: flex;
      flex-direction: row;
      align-items: center;

      .legend-dot {
        width: 10px;
        height: 10px;
        background: gray;
        border-radius: 50px;
        margin-right: 7px;
        opacity: 0.5;
      }

      .legend-text {
        font-size: 0.9em;
      }
    }
  }

  .chart-legend__ascm {
    text-align: center;
    font-size: 0.8em;
    color: $gray-40;
  }
}
