@import '../../../variables.scss';

.stretches-card {
  position: relative;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 10;

  ion-grid,
  ion-row,
  ion-col {
    margin: 0;
    padding: 0;
  }

  .stretches-header {
    position: relative;
    background: url('/img/backgrounds/exercise.jpg');
    background-size: cover;
    background-position: left top, center;
    height: 230px;
    display: flex;
    align-content: center;

    .icon {
      margin: auto;
      height: 80px;
    }

    h1 {
      text-transform: uppercase;
      font-family: $slab-font;
      color: white;
      font-size: 1.8em !important;
      font-weight: 900;
      width: 100%;
      text-align: center;
    }

    .complete-check {
      position: absolute;
      top: 4vw;
      right: 4vw;
      background: white;
      border-radius: 50px;
      display: flex;
      align-items: center;

      img {
        max-width: 30px;
      }
    }
  }

  .stretches-info {
    background: white;
    padding: 4vw !important;
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
      font-family: $lato-font;
      color: $gray-15;
      font-size: 1em;
      line-height: 1.5em;
    }
  }
}
