@import '../../../variables.scss';

.reward__container {
  background: white;

  .reward__cta {
    background: white;
    border-radius: 50px;
  }

  .reward__edge {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .reward-date__card {
      border-radius: 16px;
      height: 85px;
      width: 120px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .card-duration {
        background: white;
        color: $gray-40;
        font-family: $lato-font;
        font-size: 0.8em;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .card-points {
        font-family: $slab-font;
        background: $gray-15;
        color: white;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 900;
      }
    }
  }

  .reward__background {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: $slab-font;
      font-weight: 900;
      color: white;
      font-size: 1.9em;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .reward__foreground {
    min-height: 400px;
    padding: 7vw;

    .section-title {
      color: $gray-40;
      font-size: 0.9rem;
      margin-top: 20px;
      font-family: $lato-font;
      display: block;
    }

    .reward-brand {
      text-align: center;

      img {
        width: 100px;
      }
    }

    b {
      margin-top: 20px;
      margin-bottom: 10px;
      display: block;
      font-family: $lato-font;
      color: $gray-15;
      font-weight: 700;
    }

    p {
      padding: 0;
      margin: 0;
      color: $gray-30;
    }
  }
}
