@import '../../variables.scss';

.container {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 10vw;
  height: 15vw;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.small {
  width: 16vw;
  height: 18vw;
}

.medium {
  width: 24vw;
  height: 26vw;
}

.large {
  width: 28vw;
  height: 30vw;
}

.biggest {
  width: 36vw;
  height: 38vw;
}
