@import '../../../variables.scss';

.exercise-card {
  position: relative;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 10;

  a {
    text-decoration: none;
  }

  &__header {
    position: relative;
    background: url('/img/backgrounds/exercise.jpg');
    background-size: cover;
    background-position: left top, center;
    height: 230px;

    .overlay {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        z-index: 5 !important;
        mix-blend-mode: overlay;
        background: radial-gradient(
          circle at bottom,
          #f23c2e 0%,
          rgba(164, 6, 98, 0.5) 40%,
          rgba(167, 6, 100, 0) 80%
        );
        opacity: 0.75;
      }

      .exercise-card__title {
        text-transform: uppercase;
        font-family: $slab-font;
        color: white;
        font-size: 1.7em;
        font-weight: 900;
        width: 90%;
        margin: auto;
        text-align: center;
      }
    }
  }

  &__info {
    background: white;
    padding: 6vw 0;
    padding-top: 12vw;
    display: flex;
    justify-content: space-between;

    .info-column {
      text-align: center;
      font-family: $lato-font;
      border-left: 1px solid $gray-80;
      flex-grow: 1;
      padding: 0 10px;

      &__label {
        width: 100%;
        display: block;
        margin-bottom: 8px;
        font-size: 0.8em;
        color: $gray-40;
      }

      &__value {
        width: 100%;
        font-size: 1.05em;
        color: $gray-15;
      }

      &.-first {
        flex-grow: 2;
        border: 0;
      }
    }
  }

  &__overlays {
    z-index: 300;

    .fab {
      position: absolute;
      top: calc(230px - 32px);
      right: 4vw;
      width: 64px;
    }

    .complete-check {
      position: absolute;
      top: 4vw;
      right: 4vw;
      background: white;
      border-radius: 50px;
      display: flex;
      align-items: center;
      opacity: 1;
      transition-property: opacity;
      transition-duration: 0.1s;
      transition-delay: 0.1s;

      &.-hidden {
        opacity: 0;
      }

      &__icon {
        max-width: 30px;
      }
    }

    .exercise-duration {
      position: absolute;
      top: 4vw;
      right: 4vw;
      background: white;
      border-radius: 50px;
      display: flex;
      align-items: center;
      padding-right: 10px;
      opacity: 1;
      transition: opacity 0.1s;
      z-index: 300;

      &.-hidden {
        opacity: 0;
      }

      &__icon {
        margin: 0;
        padding: 0;
        margin-top: -2px;
        max-width: 25px;
        max-height: 25px;
      }

      &__value {
        margin: 0;
        padding: 0;
        font-family: $lato-font;
        color: $gray-15;
        font-size: 1em;
      }
    }
  }
}
