@import '../../../variables.scss';

.complaints__container {
  .complaints-list {
    padding: 7vw;

    a {
      text-decoration: none;
      color: inherit;
    }

    .complaint {
      border-bottom: 1px solid gray;
      padding: 12px 0 20px 0;

      &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $gray-15;
      }

      &__body {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-left: 30px;
        color: $gray-15;
      }

      &__status {
        display: inline-block;
        width: 30px;
        height: 30px;

        .dot-status {
          width: 10px;
          height: 10px;
          background: $blue;
          border-radius: 50px;
          margin-top: 10px;
          margin-left: 5px;
        }
      }

      &__title {
        font-size: 1.1em;
        flex-grow: 1;
      }

      &__date {
        color: $gray-40;
        font-size: 0.8em;
      }

      &__more {
        margin-right: -10px;
        opacity: 0.3;
        transform: rotate(-90deg);
        margin-left: 5px;
      }
    }
  }
}
