@import '../../../variables.scss';

.challenge-details__card {
  background: white;
  height: 170px;
  width: 120px;
  border-radius: 16px;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.-joined {
    height: 120px;
  }

  &.-finished {
    .bottom {
      background: linear-gradient(90deg, $brand-color-01 0%, $brand-color-03, $brand-color-04 100%);
    }
  }

  .top {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .row {
      display: block;

      .label {
        font-size: 0.9em;
        display: block;
        margin-bottom: 5px;
        color: $gray-40;
      }

      .value {
        font-size: 1.1em;
        color: $gray-15;
      }
    }
  }

  .bottom {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gray-15;
    color: white;

    .challenge-points {
      font-family: $slab-font;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 0.15em;
    }
  }
}
