@import '../../../variables.scss';

.challenge__container {
  background: white;

  .challenge__background {
    max-height: calc(4vh + 430px);
    height: calc(4vh + 430px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    background-image: linear-gradient(0deg, #191616 0%, rgba(0, 0, 0, 0) 70%),
      radial-gradient(
        circle at left top,
        rgba(242, 60, 46, 0.9) 0%,
        rgba(169, 7, 102, 0.6) 30%,
        rgba(125, 2, 72, 0) 70%
      ),
      url('/img/backgrounds/gamification.png');
    background-size: cover;
    background-position: left top, center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 140px;
    padding-top: calc(4vh + 40px);

    .challenge__title {
      padding: 0;
      margin: 0;
      font-family: $slab-font;
      color: white;
      text-transform: uppercase;
      font-weight: 900;
      margin-top: 30px;
      margin-bottom: 15px;
      text-align: center;
      padding: 0 10px;
    }

    .progress-bar {
      background: $gray-90;
      border-radius: 10px;
      width: 250px;
      height: 6px;

      &__filled {
        background: $blue;
        border-radius: 10px;
        height: 100%;
      }
    }

    .progress {
      display: block;
      width: 100%;
      color: white;
      text-align: center;
      font-size: 0.9em;
      margin-top: 10px;
    }

    .updated {
      display: block;
      width: 100%;
      color: white;
      opacity: 0.8;
      text-align: center;
      font-size: 0.55em;
      margin-top: 5px;
    }
  }

  .challenge__foreground {
    background: white;
    min-height: 500px;
    padding: 7vw;
    padding-top: calc(7vw + 85px);

    .challenge__ranking {
      margin-bottom: 7vw;
    }

    .section-label {
      font-size: 0.8em;
      color: $gray-30;
    }

    .challenge__description {
      &-text {
        font-size: 1em;
        line-height: 1.4em;
      }
    }

    .challenge__rules {
      margin-top: 7vw;
      border-top: 1px solid #c3c3c3;
    }

    .challenge__stamps {
      margin-top: 10vw;
    }

    .invite-code {
      margin-top: 7vw;
      margin-bottom: calc(-7vw - 50px);
      border: 2px solid $gray-bg;
      border-radius: 18px;
      padding: 15px;
      padding-bottom: 65px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__label {
        font-size: 0.9em;
        color: $gray-30;
      }

      &__value {
        color: $gray-30;
        margin-top: 7px;
        font-size: 1.1em;
      }
    }

    .btn {
      margin-top: 7vw;
    }
  }

  .challenge__edge {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
