@import '../../variables.scss';

.question-panel {
  background: white;
  width: 100%;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  padding: 7vw;

  .question-title {
    width: 100%;
    text-align: center;
    font-family: $lato-font;
    display: block;
    padding-bottom: 6vw;
    font-size: 0.9em;
    color: $gray-15;
    border-bottom: 1px solid $gray-90;
  }

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 3vw 0;
      border-bottom: 1px solid $gray-90;
      font-family: $lato-font;
      font-weight: 700;
      padding-left: 14px;

      &.highlighted {
        background-color: #f6f1f3;
        border-radius: 6px;
      }

      button {
        position: relative;
        background: none;
        padding: 0;
        margin: 0;
        display: flex;
        text-align: left;
        color: $gray-15;
        width: 100%;
        padding: 5px;
        min-height: 40px;

        div {
          display: flex;
          align-content: center;
          flex-direction: column;
          max-width: calc(100% - 30px);
          font-size: 0.9rem;

          b {
            font-family: $lato-font;
            display: block;
            font-size: 1.4em;
            line-height: 1.6em;
            font-weight: 700;
            text-align: left;
            margin: 0;
            padding: 0;
            color: $gray-15;
          }

          span {
            font-family: $lato-font;
            font-size: 1.1em;
            line-height: 1.3em;
            margin-top: 5px;
          }
        }

        img {
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 40px;
        }
      }
    }
  }

  .btn {
    margin-top: 6vw;
  }
}
