@import '../../../variables.scss';

.write-complaint__container {
  position: relative;
  background: white;
  height: 100vh;
  padding: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .close-button {
    position: absolute;
    background: none;
    top: 5vw;
    right: 5vw;
  }

  .subject {
    padding: 7vw 0 14vw 0;

    &__label {
      color: $gray-30;
      font-size: 0.9em;
      display: block;
      margin-bottom: 5px;
    }

    &__value {
      font-size: 1.3em;
      font-weight: 900;
    }
  }
}
