@import '../../../variables.scss';

.profile-notifications {
  padding: 3vh;

  h5 {
    font-family: $lato-font;
    font-weight: 700;
    color: $gray-15;
  }

  p {
    font-family: $lato-font;
    line-height: 1.5em;
    color: $gray-15;
  }

  .list-label {
    font-size: 0.8em;
    display: block;
    margin-top: 25px;
    color: $gray-30;
  }

  .list-toggle {
    background: white;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    font-family: $lato-font;
    font-weight: 700;
    font-size: 1.1em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 10px;

    &__label {
      padding: 0;
      margin: 0;
      flex-grow: 1;
    }
  }

  ion-list {
    margin-top: 30px;
    background: none;
  }
}
