@import '../../variables.scss';

.gym-header {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: center;

  &.-dark-mode {
    h3 {
      color: white;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 1.1em;
    font-family: $lato-font;
    color: $gray-15;
    display: inline-block;
    padding-bottom: 8px;
  }
}
