@import '../../../variables.scss';

.classes__container {
  overflow-y: scroll;
  max-height: 100vh;
  height: 100vh;

  .classes-header__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .classes__content {
    background: $gray-bg;
    min-height: 100%;
    margin-top: 240px;

    .swipe-container {
      -webkit-overflow-scrolling: touch;
    }
  }

  .fab {
    position: fixed;
    top: initial;
    right: 7vw;
    bottom: 7vw;
    z-index: 90;
    background: $gray-15;
  }
}
