@import '../../../../../variables.scss';

.month-calendar__container {
  .top-label {
    display: block;
    padding: 5vw 0;
    width: 100%;
    font-size: 1em;
    text-align: center;
    font-family: $lato-font;
  }

  .badge-tabs {
    .mdc-tab:first-child {
      margin-left: 7vw;
    }
    .mdc-tab:last-child {
      margin-right: 7vw;
    }
  }

  .month-activities {
    margin-top: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 150px;

    .activity-bar {
      height: 100%;
      width: calc(100% / 62);
      border-radius: 10px;

      &.-red {
        background: linear-gradient(180deg, $dashboard-red-start 0%, $dashboard-red-end 100%);
      }

      &.-orange {
        background: linear-gradient(180deg, $dashboard-orange-start 0%, $dashboard-orange-end 100%);
      }

      &.-pink {
        background: linear-gradient(180deg, $dashboard-pink-start 0%, $dashboard-pink-end 100%);
      }

      &.-purple {
        background: linear-gradient(180deg, $dashboard-purple-start 0%, $dashboard-purple-end 100%);
      }

      &.-gray {
        background: linear-gradient(180deg, #c8bac1 0%, #ababab 100%);
      }
    }
  }
}
