@import '../../../variables.scss';

.profile-header__container {
  position: relative;
  background: #161616;
  background-image: radial-gradient(
    circle at center top,
    rgba(242, 60, 46, 0.9) 0%,
    rgba(169, 7, 101, 0.6) 60%,
    rgba(125, 2, 72, 0) 100%
  );
  z-index: 50;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;

    .profile__picture {
      display: flex;
      flex-direction: column;

      .picture__line {
        width: 2px;
        height: 28px;
        background: white;
        margin: auto;
        margin-bottom: 10px;
      }

      .picture__avatar {
        padding: 0;
        margin: 0;
        background: none;
        position: relative;
        margin: auto;

        .badge__add {
          background-color: #2b2728;
          width: 32px;
          height: 32px;
          position: absolute;
          right: -10px;
          bottom: 0px;
          border-radius: 100%;
        }
      }
    }

    .profile__info {
      padding-top: 3vw;

      .profile__greeting {
        font-family: $slab-font;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 1.8em;
        font-weight: 500;
        padding: 0;
        margin: 0;

        .profile__greeting-bold {
          font-weight: 900;
        }
      }

      .profile__gym {
        width: 100%;
        text-align: center;
        color: white;
        font-family: $lato-font;
        font-size: 1.2em;
        font-weight: 700;
        padding: 10px 0;
        margin: 0;
      }

      .profile__date {
        width: 100%;
        text-align: center;
        color: white;
        font-family: $lato-font;
        font-size: 0.9em;
        padding: 0;
        margin: 0;
      }
    }

    .status-container {
      position: relative;
      background: white;
      margin: 7vw;
      margin-bottom: 0;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      padding: 15px;

      .status-label {
        color: $gray-15;
        font-size: 0.9em;
      }

      .status-link {
        position: absolute;
        top: 4px;
        right: 0;

        img {
          padding: 3px;
          width: 40px;
          transform: rotate(-90deg);
          opacity: 0.6;
        }
      }

      .status-list {
        position: relative;
        margin-top: 20px;
        height: 90px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .line {
          height: 1px;
          width: 80%;
          left: 10%;
          position: absolute;
          top: 35px;
          border-top: 1px dashed #534c4f;
        }

        .status-badge {
          display: flex;
          flex-direction: column;
          align-items: center;

          &.-faded {
            background: white;

            .badge-icon,
            .badge-label {
              opacity: 0.4;
            }
          }

          .badge-icon {
            width: 50px;
            height: 65px;

            &.-none {
              padding-bottom: 15px;
            }
          }

          .badge-label {
            font-size: 0.8em;
            text-align: center;
            width: 100%;
            margin-top: 10px;
            font-weight: 500;
          }

          z-index: 100;
        }
      }
    }
  }

  .material-tabs {
    .mdc-tab:first-child {
      margin-left: 3vh;
    }
  }
}
