@import '../../../variables.scss';

.app-menu {
  height: 100%;
  padding: 7vw;
  background-image: url('/img/backgrounds/menu.jpg');
  background-size: cover;
  background-position: center;

  .menu-nav-panel {
    --safe-area-inset-top: env(safe-area-inset-top);
    height: calc(100% - var(--safe-area-inset-top));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  button:active {
    opacity: 0.7;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    background: none;
    padding: 0;
    margin: 0;
  }

  .close-btn {
    margin-left: -10px;
    margin-top: -10px;
  }

  .logout-btn {
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-bottom: 20px;
    margin-top: 20px;

    img {
      margin-right: 7px;
    }

    b {
      font-family: $slab-font;
      font-size: calc(0.6em + 1.5vw);
      font-weight: 700;
      line-height: 3.5em;
      text-transform: uppercase;
      color: $brand-color-03;
      margin-top: 3px;
    }
  }

  .socials {
    .social-link {
      display: inline-block;
      background: $gray-15;
      border-radius: 30px;
      margin-right: 20px;
      width: 40px;
      height: 40px;

      img {
        margin-top: 2px;
        margin-left: 2px;
        width: 36px;
        height: 36px;
      }
    }
  }

  .appVersion {
    margin-top: 10px;
    opacity: 0.5;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    overflow-y: scroll;
    padding-right: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.centered {
      justify-content: center;
      li {
        margin: 10px 0;
      }
    }

    .sub-link {
      font-family: $slab-font;
      font-size: calc(0.5em + 1.6vw);
      font-weight: 700;
      text-transform: uppercase;
      color: $gray-40;
      display: block;
      margin-bottom: 20px;
      margin-left: 45px;
    }

    li {
      margin-left: -5px;

      button {
        font-family: $slab-font;
        font-size: calc(0.5em + 1.6vw);
        font-weight: 700;
        text-transform: uppercase;
        color: $gray-15;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        img {
          margin-top: -5px;
          margin-right: 10px;
          width: 34px;
          height: 34px;
        }

        &.highlighted {
          color: $brand-color-03;
        }
      }
    }
  }
}
