@import '../../../variables.scss';

.cart__container {
  .section-title {
    margin-bottom: 0;
    margin-left: 7vw;
    color: $gray-40;
    font-size: 0.9rem;
    font-family: $lato-font;
  }

  .cart__list {
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 7vw;
    display: flex;

    .product-featured-card {
      margin-right: 20px;
    }

    &:first-child {
      padding-left: 7vw;
    }

    &:last-child {
      padding-right: 7vw;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .purchased__list {
    padding: 3vw 7vw 7vw 7vw;
  }

  .purchased-product-card {
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px $gray-65 solid;
    display: flex;
    flex-direction: row;

    img {
      width: 112px;
      height: 112px;
      border-radius: 16px;
      object-fit: cover;
    }

    .purchase-details {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-left: 15px;

      .date {
        color: $gray-40;
        font-family: $lato-font;
        font-size: 0.9em;
      }

      .title {
        color: $gray-15;
        text-transform: uppercase;
        font-family: $slab-font;
        margin-top: 10px;
        flex-grow: 1;
      }

      .points {
        color: $gray-40;
        font-family: $lato-font;
        margin-bottom: 10px;
        font-weight: 700;
      }
    }
  }
}
