@import '../../../variables.scss';

.btn,
.btn-secondary {
  position: relative;
  font-size: 0.8em;
  color: white;
  padding: 17px 10px 14px 10px;
  border-radius: 50px;
  background: $btn-gradient-start;
  line-height: 25px;
  font-family: $slab-font;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15em;
  transition: 0.2s;
  overflow: hidden;
  width: 100%;

  &:active,
  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.9);
  }

  .btn-action {
    float: right;
  }

  img {
    position: absolute;
    top: 11px;
    right: 20px;
    width: 40px;
    height: 40px;
  }

  &.disabled-btn {
    opacity: 0.4;

    &:focus,
    &:active {
      opacity: 0.4;
    }
  }

  &.loading-btn {
    img {
      -webkit-animation: rotation 0.7s infinite linear;
      animation: rotation 0.7s infinite linear;
      padding: 5px;
    }
  }
}

.btn-secondary {
  background: none;
  border: 2px solid $btn-secondary-outline;
  line-height: 19px;
  color: $brand-color-03;
}

.btn {
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
