@import '../../variables.scss';

.modality-description {
  background: white;
  padding: 20px;
  padding-bottom: 30px;
  margin: 0;
  color: $gray-15;

  h3 {
    font-family: $lato-font;
    font-weight: 700;
    font-size: 1.4em;
  }

  p {
    font-family: $lato-font;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 10vh;
  }
}
