@import '../../variables.scss';

.info-detail {
  width: 100%;
  font-family: $lato-font;
  display: flex;
  justify-content: space-between;

  div {
    max-width: calc(100% - 40px);

    span {
      width: 100%;
      color: $gray-40;
      font-size: 0.9em;
      display: block;
      margin-bottom: 3px;
    }

    b {
      color: $gray-15;
      font-size: 1.2em;
    }

    input {
      font-size: 1.4em;
      background: none;
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  a {
    justify-self: flex-end;
    padding: 0;
    background: none;
    width: 40px;
    margin-right: -10px;

    img {
      margin-right: -10px;
    }

    &:active,
    &:focus {
      outline: none;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
