.clear-nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 4vh calc(7vw - 10px);
  margin: 0px;
  width: 100%;
  pointer-events: none;
  z-index: 200;

  .back-btn {
    width: 40px;
    height: 40px;
    padding: 0 !important;
    background: none;
    pointer-events: initial;

    &:active,
    &:focus {
      outline: none;
    }

    &:active {
      opacity: 0.5;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
