@import '../../../variables.scss';

.action-btn {
  text-align: center;

  button {
    background: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    pointer-events: all;

    &:active {
      opacity: 0.6;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      padding: 4px;
      margin: 5px;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
    }

    b {
      width: 100%;
      font-family: $lato-font;
      font-size: 0.85em;
    }
  }
}
