@import '../../../variables.scss';

.remove-link {
  text-decoration: none;
  color: black;
}

.cart-product-card__btn {
  border-radius: 50px;
  position: absolute;
  background-color: $gray-40;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  padding: 0;
  z-index: 100;

  img {
    width: 35px;
    height: 35px;
  }
}

.cart-product-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.3);
  width: 220px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;

  &__top {
    background: lightgray;
    height: 120px;
    width: 100%;

    .cart-product-card__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: center;

    .remove-link {
      text-align: center;
    }

    .cart-product-card__title {
      display: flex;
      text-align: center;
      font-weight: bold;
      font-size: 0.9em;
      font-family: $slab-font;
      text-transform: uppercase;
      white-space: normal;
      padding: 0;
      margin: 0;
      flex: 1;
    }

    .cart-product-card__pts {
      background: $gray-15;
      font-family: $slab-font;
      color: white;
      text-transform: uppercase;
      border-radius: 50px;
      padding: 7px 10px;
      padding-top: 9px;
      font-size: 0.8em;
      font-weight: 700;
      margin: 10px 0;
      align-self: center;
      display: inline-block;
    }

    .cart-product-card__cta {
      margin: 0px;
      text-align: center;
      color: $brand-color-03;
      font-family: $slab-font;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 0.8em;
      margin-top: 10px;
      background: none;
    }
  }
}
