@import '../../../variables.scss';

.exercise-details__container {
  position: relative;
  overflow: scroll;
  max-height: 100vh;
  height: 100vh;
  background: white;

  ion-grid,
  ion-row,
  ion-col {
    padding: 0;
    margin: 0;
  }

  .exercise-details__header {
    max-height: calc(320px + 10vh);
    height: calc(320px + 10vh);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    background: rgba(210, 210, 210, 1);

    &.-expanded {
      height: calc(400px + 10vh);
      max-height: calc(400px + 10vh);
    }

    .wrapper {
      position: relative;
      width: 100%;

      &.-default {
        background-image: url('/img/backgrounds/exercise.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
      }

      &.-image {
        height: 100%;
      }

      &.-gif {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: black;

        .media__gif {
          opacity: 0.8;
          width: 100%;
          max-height: 100%;
          object-fit: cover;
        }

        .gif-bottom-hack {
          height: 90px;
          width: 100%;
          background: rgba(210, 210, 210, 1);
        }
      }

      h1 {
        text-transform: uppercase;
        font-family: $slab-font;
        color: white;
        font-size: 2em !important;
        width: 90%;
        margin: auto;
        text-align: center;
        font-weight: 900;
      }

      .overlay {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding-bottom: 10vh;

        &::before {
          content: '';
          position: absolute;
          display: block;
          height: 100%;
          right: 0;
          bottom: 0;
          top: 0;
          left: 0;
          z-index: 5 !important;
          mix-blend-mode: overlay;
          background: radial-gradient(
            circle at bottom,
            #f23c2e 0%,
            rgba(164, 6, 98, 0.5) 40%,
            rgba(167, 6, 100, 0) 80%
          );
          opacity: 0.75;
        }
      }
    }
  }

  .exercise-details__content {
    position: relative;
    background: white;
    width: 100%;

    .exercise-details__title {
      text-transform: uppercase;
      font-family: $slab-font;
      color: $gray-15;
      font-size: 1.8em !important;
      text-align: center;
      font-weight: 900;
      padding-top: 11vw;
      margin: auto;
      margin-bottom: 0;
      width: 90%;
    }

    .exercise-stats__container {
      background: linear-gradient(180deg, #ffffff 0%, #f0eaed 100%);
      width: 100%;
      padding: 10vw 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .exercise-stat {
        text-align: center;
        font-family: $lato-font;

        &__label {
          width: 100%;
          display: block;
          margin-bottom: 8px;
          font-size: 0.9em;
          color: $gray-40;
        }

        &__value {
          width: 100%;
          font-size: 1.1em;
          color: $gray-15;
        }
      }
    }

    .exercise-info__container {
      width: 100%;
      padding: 7vw;
      font-family: $lato-font;
      color: $gray-15;

      .instructions__title {
        font-size: 1.2em;
        text-align: left;
        padding: 0;
        margin: 0 !important;
      }

      .instructions__text {
        font-size: 1.2em;
        line-height: 1.5em;
        text-align: left;
        white-space: pre-line;
      }
    }
  }
}

.fab {
  position: absolute;
  top: calc(330px - 32px);
  right: 10vw;
  z-index: 400;
}

.exercise__top-element {
  .timer {
    position: absolute;
    top: 7vw;
    right: 7vw;
    background: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    opacity: 1;
    transition: opacity 0.2s;

    &.hidden {
      opacity: 0;
    }

    img {
      margin: 0;
      padding: 0;
      margin-top: -2px;
      max-width: 35px;
      max-height: 35px;
    }

    b {
      margin: 0;
      padding: 0;
      font-family: $lato-font;
      color: $gray-15;
      font-size: 1.1em;
    }
  }

  .complete__check {
    position: absolute;
    top: 7vw;
    right: 7vw;
    background: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-delay: 0.2s;

    &.hidden {
      opacity: 0;
    }

    img {
      max-width: 30px;
    }
  }
}
