@import '../../../variables.scss';

.questionnaire-container {
  &.has-selected .submit-container {
    background: none;
  }

  .question-container {
    position: fixed;
    top: 9vw;
    padding: 7vw;
    width: 100%;
    z-index: 1 !important;

    h1 {
      color: white;
      font-family: $lato-font;
      font-weight: 700;
      font-size: calc(0.1em + 3.5vh);
      line-height: 1.6em;
      z-index: 1 !important;
    }
  }

  .answers-container {
    background-image: linear-gradient(0deg, #191616 0%, rgba(0, 0, 0, 0) 70%),
      radial-gradient(
        circle at left top,
        rgba(242, 60, 46, 0.9) 0%,
        rgba(169, 7, 102, 0.6) 25%,
        rgba(125, 2, 72, 0) 60%
      ),
      url('/img/backgrounds/plan.jpg');
    background-size: cover;
    background-position: left top, center;
    height: 100vh;
    padding-top: 30vh;
    max-height: 100vh;
    overflow: scroll;
    z-index: 30 !important;
    display: flex;
    align-items: flex-end;

    .answers-wrapper {
      width: 100%;
      height: auto;
      max-height: 100%;
      padding-top: 50px;
      z-index: 30 !important;

      .question-panel {
        padding-bottom: 100px;
        z-index: 30 !important;
      }
    }
  }

  .submit-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 7vw;
    padding-top: 20vw;
    pointer-events: none;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0.01) 100%);
    z-index: 50 !important;

    .btn {
      pointer-events: all;
    }
  }
}
