@import '../../../variables.scss';

.search__container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;

  &.-dark-mode {
    background: $gray-15;

    .search__header {
      background: none;
    }
  }

  .search__header {
    padding: 7vw 7vw 0 7vw;

    .filters-list {
      padding: 0;
      margin: 10px 0 0 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .filter {
        &__button {
          position: relative;
          background: $brand-color-03;
          height: 30px;
          line-height: 30px;
          border-radius: 20px;
          padding: 0 15px;
          margin: 10px 10px 0 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 40px;

          &-label {
            font-family: $lato-font;
            color: white;
            flex-grow: 1;
            width: auto;
          }

          &-icon {
            height: 100%;
            position: absolute;
            top: 0;
            right: 7px;
          }
        }
      }
    }
  }

  .search__recent {
    .recent__label {
      font-family: $lato-font;
      margin: 0;
      padding: 0;
      padding-top: 7vw;
      font-size: 1.4em;
      font-weight: 700;
      color: $gray-15;
      margin-left: 7vw;
    }

    .recent__divider {
      background: $gray-90;
      margin-right: 7vw;
      margin-left: 7vw;
    }
  }

  .search__results {
    .results__label {
      font-family: $lato-font;
      color: white;
      background: $gray-15;
      margin: 0;
      padding: 0;
      padding: 7vw 0 4vw 7vw;
      font-size: 1.4em;
      font-weight: 700;
    }

    .results__container {
      background: $gray-30;
      padding-bottom: 10vw;
    }
  }

  .search__submit-button {
    position: fixed;
    bottom: 7vw;
    left: 7vw;
    right: 7vw;
    z-index: 200;
  }
}
