@import '../../../variables.scss';

.calendar__container {
  .calendar__background {
    max-height: calc(4vh + 300px);
    height: calc(4vh + 300px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    background-image: linear-gradient(0deg, #191616 0%, rgba(0, 0, 0, 0) 70%),
      radial-gradient(
        circle at left top,
        rgba(242, 60, 46, 0.9) 0%,
        rgba(169, 7, 102, 0.6) 45%,
        rgba(125, 2, 72, 0) 80%
      ),
      url('/img/backgrounds/gym.png');
    background-size: cover;
    background-position: left top, center;

    .page-title {
      margin: 0;
      font-family: $lato-font;
      width: 100%;
      text-align: center;
      color: white;
      font-size: 1.1em;
      font-weight: 700;
      padding-top: calc(2vh + 7px);
    }

    .timeago-label {
      display: block;
      width: 100%;
      margin-top: 5px;
      text-align: center;
      padding: 0 7vw 3vw 7vw;
      color: white;
      font-size: 0.9em;
    }

    .card-container {
      padding: 3vw 7vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .calendar__foreground {
    background: $gray-bg;
    height: 400px;
  }

  .zoom-control {
    margin: auto;
    background: white;
    border-radius: 50px;
    width: 176px;
    height: 50px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;

    .control-separator {
      height: 80%;
      width: 1px;
      background: #c3c3c3;
      align-self: center;
    }

    .zoom-btn {
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      font-size: 1em;
      flex-grow: 1;
      display: flex;
      margin-top: -4px;
      flex-direction: column;
      align-items: center;

      span {
        margin-top: -8px;
        display: block;
        font-family: $lato-font;
        text-align: center;
        font-size: 0.8em;
        color: $gray-40;
      }
    }
  }
}

.day-detail__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .day-detail__popup {
    z-index: 550;
    width: 86vw;
    border-radius: 16px;
    overflow: hidden;

    .popup-header {
      position: relative;
      height: 84px;
      background: linear-gradient(180deg, #ffffff 0%, #f0eaed 100%);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .popup-close {
        border: 0;
        background: 0;
        position: absolute;
        top: 5px;
        right: 5px;
        opacity: 0.7;
      }

      .popup-labels {
        display: flex;
        flex-direction: column;
        font-family: $lato-font;
        color: $gray-15;
        text-align: center;

        .popup-title {
          font-size: 1.1em;
          margin-bottom: 5px;
        }

        .popup-subtitle {
          font-size: 0.8em;
          color: $gray-40;
        }
      }
    }

    .popup-body {
      background: white;
      padding: 3vh;

      .detail-item {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

        &__time {
          padding: 15px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-family: $lato-font;
          border-right: 1px solid $gray-bg;
        }

        &__description {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          margin-left: 15px;
        }

        &__icon {
          width: 40px;
          height: 40px;
        }

        &__title {
          font-family: $slab-font;
          text-transform: uppercase;
          margin-top: 5px;
        }
      }
    }
  }
}
