@import '../../../variables.scss';

.challenges_title {
  margin-bottom: 0;
  margin-left: 7vw;
  color: $gray-40;
  font-size: 0.9rem;
  font-family: $lato-font;
}

.highlight__container {
  text-align: center;

  .highlight__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
    padding: 3vw 0 10vw 0;
    display: flex;

    &::-webkit-scrollbar {
      display: none;
    }

    .highlight__list-item {
      display: inline-block;
      margin-right: 4vw;

      &:first-child {
        margin-left: 7vw;
      }
      &:last-child {
        padding-right: 7vw;
      }
    }
  }
}

.challenge-group__container {
  margin-bottom: 10vw;
  margin-top: 20px;

  .group__title {
    font-family: $lato-font;
    color: $gray-15;
    display: block;
    font-size: 1.35em;
    margin-left: 7vw;
    margin-bottom: 10px;
  }

  .group__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
    padding: 3vw 0 10vw 0;
    display: flex;

    &::-webkit-scrollbar {
      display: none;
    }

    .group__list-item {
      display: inline-block;
      margin-right: 4vw;

      &:first-child {
        margin-left: 7vw;
      }
      &:last-child {
        padding-right: 7vw;
      }
    }
  }
}
