@import '../../../variables.scss';

.token-input {
  margin: auto;
  text-align: center;

  input {
    background: white;
    height: 90px;
    width: 70px;
    max-width: calc(25% - 12px);
    margin-right: 15px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    font-family: $lato-font;
    color: $gray-15;

    &:last-child {
      margin: 0px;
    }

    &:active,
    &:focus {
      box-shadow: none;
      outline: none;
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .wrong {
    border: 2px solid $token-input-outline;
  }
}
