@import '../../../variables.scss';

.class-container {
  background: $gray-95;

  .fixed-bottom {
    position: fixed;
    bottom: 7vw;
    left: 7vw;
    right: 7vw;
  }

  .modality-description {
    background: $gray-95;
  }

  .actions {
    padding-top: 83px;
    padding-bottom: 40px;
    position: relative;
    background: white;
    z-index: 30;

    ion-grid,
    ion-row,
    ion-col {
      margin: 0;
      padding: 0;
    }

    ion-grid {
      display: flex;
      justify-content: space-evenly;

      ion-col {
        max-width: 90px;
      }
    }
  }

  .class-mini-card {
    font-size: 0.7em;
  }
}
