.empty {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  p {
    font-family: 'Lato', sans-serif;
    width: 75%;
    text-align: center;
  }

  img {
    height: 50%;
    max-height: 20vh;
  }
}
