@import '../../variables.scss';

.objective-label {
  font-family: $slab-font;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.6em;
  padding: 8px 10px 5px 12px;
  border-radius: 50px;
  margin: auto;
  letter-spacing: 0.2em;
  margin-top: 3vw;
  background: linear-gradient(90deg, $brand-gradient-end 0%, $brand-gradient-middle 100%);
  text-align: center;
  line-height: 1.6em;

  &.-platinum {
    background: linear-gradient(90deg, #c866ff 0%, #7e1ac7 100%);
  }

  &.-gold {
    background: linear-gradient(90deg, #f8576e 0%, #c31a39 100%);
  }

  &.-silver {
    background: linear-gradient(90deg, #ff9c7a 0%, #f34c30 100%);
  }
}
