@import '../../../../variables.scss';

.header__home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;

  .header__home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;

    .header__caption {
      display: block;
      width: 100%;
      color: white;
      font-family: $lato-font;
      font-size: 1em;
      margin: 0;
      margin-top: -5px;
    }

    .header__text {
      display: block;
      width: 100%;
      color: white;
      font-family: $lato-font;
      font-size: 1em;
      margin: 10px auto;
      width: 85%;
    }

    .header__empty {
      display: block;
      width: 100%;
      color: white;
      font-family: $lato-font;
      font-size: 1em;
      margin: 10px auto;
      width: 100%;
      position: absolute;
      bottom: 15px;
    }

    .header__home-count {
      display: block;
      width: 100%;
      color: white;
      font-family: $slab-font;
      font-weight: 500;
      font-size: calc(0.3em + 7vw);
      margin: 0;
      margin-top: 2px;
    }

    .header__home-hexagons {
      width: 100%;
      height: 30vh;
      position: absolute;
      z-index: -1;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        &:nth-child(1) {
          position: absolute;
          height: 28vh;
          width: 28vh;
          background: rgba(0, 0, 0, 0.12);
          margin: 0 auto;
          @include rounded-hex($rotated: true);
        }
        &:nth-child(2) {
          position: absolute;
          height: 22vh;
          width: 22vh;
          background: rgba(0, 0, 0, 0.2);
          margin: 0 auto;
          @include rounded-hex($rotated: true);
        }
        &:nth-child(3) {
          position: absolute;
          height: 16vh;
          width: 16vh;
          background: linear-gradient(180deg, #f23c2e 0%, #a90766 48.57%, #7d0248 100%);
          box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.5);
          margin: 0 auto;
          @include rounded-hex($rotated: true);
        }
      }
    }
  }
}
