@import '../../../variables.scss';

.status-card-row {
  position: relative;

  a {
    text-decoration: none;
  }

  .new-status-card {
    position: relative;
    background: white;
    padding: 20px 15px;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      width: 50px;
      margin-right: 15px;
    }

    .text {
      color: black;
      margin-top: 20px;
      line-height: 1.4em;
      font-size: 0.9em;
    }

  }

  .close-btn {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
  }
}
