@import '../../../variables.scss';

.gamification-header__container {
  padding-top: 7vw;
  background: #161616;
  background-image: radial-gradient(
      circle at left top,
      rgba(242, 60, 46, 0.9) 0%,
      rgba(169, 7, 101, 0.6) 30%,
      rgba(125, 2, 72, 0) 70%
    ),
    url('/img/backgrounds/gamification.png');
  background-size: cover;
  z-index: 50;
  will-change: transform;

  .header__wrapper {
    will-change: opacity;

    .header__avatar {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-right: 7vw;
    }

    .header__info {
      text-align: center;
      height: 30vh;
      min-height: 235px;
      padding: 0 7vw;

      .swipe-container {
        height: 100%;

        .react-swipeable-view-container {
          height: 100%;
        }
      }
    }
  }

  .mdc-tab:first-child {
    margin-left: 7vw;
  }

  .mdc-tab:last-child {
    margin-right: 7vw;
  }
}
