@import '../../../../../variables.scss';

.challenge__ranking {
  display: flex;
  flex-direction: column;
  align-items: center;

  .ranking-orb {
    background: linear-gradient(180deg, $gray-bg 0%, white 100%);
    height: 180px;
    width: 180px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ranking-place {
      font-family: $slab-font;
      color: $brand-color-03;
      font-size: 2em;
      padding: 0;
      margin: 0;
      font-weight: 900;
      margin-top: 15px;
    }

    .ranking-label {
      font-family: $slab-font;
      color: $brand-color-03;
      font-size: 0.8em;
    }
  }

  .ranking-participants {
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid $gray-65;
    display: flex;
    flex-direction: row;
    align-items: center;

    .participants-img {
      position: relative;
      width: 70px;

      .participant-front,
      .participant-back {
        background: $gray-bg;
        padding: 3px;
        border-radius: 50px;
        width: 40px;
        height: 40px;
      }

      .participant-front {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        border: 5px solid white;
      }

      .participant-back {
        margin-top: -4px;
        margin-left: 14px;
      }
    }

    .participant-count {
      font-size: 0.9em;
      color: $gray-40;
      font-family: $lato-font;
    }
  }

  .ranking-motivation {
    text-align: center;
    width: 100%;
    font-size: 1em;
    padding: 15px 0;
    line-height: 1.7em;
    font-family: $lato-font;
  }
}
