@import '../../../variables.scss';

.plan-renew__container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;

  form {
    padding: 7vw;
    overflow-y: auto;
    flex-grow: 1;
  }

  .label {
    margin-bottom: 0;
    color: $gray-40;
    font-size: 0.9rem;
    font-family: $lato-font;
  }

  .line-input,
  .text-area {
    border-color: $gray-15;
  }

  input,
  textarea {
    color: $gray-15;
  }

  .row {
    margin-bottom: 35px;
  }

  .list-toggle {
    background: white;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    font-family: $lato-font;
    font-weight: 700;
    font-size: 1.1em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    margin-right: 1px;
    margin-top: 10px;

    &__label {
      padding: 0;
      margin: 0;
      flex-grow: 1;
    }

    &__icon {
      margin-top: 2px;
    }
  }

  .list-options {
    button {
      b {
        font-size: 0.7em !important;
      }
    }
  }

  .renew-header {
    background: black;
    width: 100%;
    padding: 7vw;
    background-image: radial-gradient(
        circle at left top,
        rgba(242, 60, 46, 0.9) 0%,
        rgba(169, 7, 102, 0.6) 35%,
        rgba(125, 2, 72, 0) 80%
      ),
      url('/img/backgrounds/gym.png');
    background-size: cover;
    overflow: hidden;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: calc(4vh + 20px);
    justify-content: center;
    align-items: center;

    .avatar {
      position: absolute;
      top: 4vh;
      right: 7vw;
    }

    .renew-title {
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-family: $slab-font;
      font-size: 1.1em;
      padding: 0 3vw;
      max-width: calc(100% - 80px);
      margin-top: 0;
    }
  }
}
