@import '../../variables.scss';

.badge-swiper {
  width: 100%;
  height: auto;
  padding: 7vw 0;

  ion-grid,
  ion-row {
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;

    ion-grid {
      width: 100%;
    }

    .badge {
      margin: auto;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      width: 120px;
      height: 120px;
      border-radius: 100px;
      padding: 24px;
    }

    img {
      width: 100%;
      height: 100%;
    }

    h2 {
      width: 100%;
      text-align: center;
      font-family: $lato-font;
      color: $gray-15;
      font-weight: 700;
      font-size: 1.3em;
      margin: 0;
      padding: 20px 0;
    }

    p {
      font-family: $lato-font;
      color: $gray-15;
      font-size: 1em;
      margin: 0;
      padding: 0;
      text-align: center;
      max-width: 70%;
      margin: auto;
    }
  }

  .swiper-bullets {
    text-align: center;
    width: 100%;
    margin-top: 30px;

    .bullet {
      background: $gray-40;
      width: 6px;
      height: 6px;
      display: inline-block;
      border-radius: 10px;
      margin: 5px;
      opacity: 0.5;
      transition: 0.2s;
      transform: scale(1);

      &.highlighted {
        opacity: 1;
        transform: scale(1.3);
      }
    }
  }
}
