@import '../../variables.scss';

.section {
  &__label {
    display: block;
    color: $gray-30;
    font-family: $lato-font;
    font-size: 0.9em;
    padding-bottom: 4vw;
    margin-left: 7vw;
  }

  &--empty {
    padding: 10vw;
    text-align: center;

    .empty-section__label {
      text-align: center;
      color: $gray-30;
    }
  }

  &--modalities {
    background-image: linear-gradient(180deg, #ffffff 0%, #f0eaed 90%);
    padding-top: 5vw;

    .section__list {
      margin: 0;
      padding: 0;
      display: flex;
      overflow: scroll;
      list-style: none;
      flex-direction: row;
      padding-bottom: 7vw;

      &::-webkit-scrollbar {
        display: none;
        padding: 50px;
      }

      li {
        .modality__card {
          margin: 3vw 3vw 0 0;
        }

        &:first-child {
          margin-left: 7vw;
        }
      }
    }
  }

  &--gyms {
    padding: 7vw 0;

    .section__list {
      margin: 0;
      padding: 0 7vw;
      list-style: none;

      .list-item {
        font-family: $lato-font;
        border-bottom: 1px solid $gray-90;

        .-disabled {
          opacity: 0.2;
        }

        &__button {
          padding: 15px 0;
          margin: 0;
          background: none;
          display: flex;
          justify-content: space-between;
          font-size: 1em;
          width: 100%;
          opacity: 1;
          transition: opacity 0.2s;
        }

        .gym__title {
          font-size: 1.4em;
        }

        .gym__info {
          color: $gray-30;
        }
      }
    }
  }
}
