@import '../../../../../variables.scss';

.week-calendar__container {
  .top-label {
    display: block;
    padding: 20px 0 10px 0;
    width: 100%;
    font-size: 1em;
    text-align: center;
    font-family: $lato-font;
  }

  .activity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.-dimmed {
      .activity-tab {
        border-radius: 33px;
        color: $brand-color-03;
        background: none;
      }

      .activity-card {
        transform: scale(0.8);
        opacity: 0.7;

        .activity-card__label {
          transform: scale(0);
          height: 0;
          opacity: 0;
        }

        .card-footer {
          height: 0;
          opacity: 0;
        }
      }
    }

    .activity-tab {
      text-transform: none;
      color: $brand-color-03;
      font-family: $slab-font;
      font-size: 0.8em;
      font-weight: 700;
      background: none;
      width: auto;
      text-transform: uppercase;
      padding-top: 2px;
      z-index: 5;
      height: 42px;
      width: 120px;
      color: white;
      border-radius: 33px;
      background: $gray-15;
      transition: 0.3s;
      margin-bottom: 20px;
    }

    .activity-card {
      border: 0;
      padding: 0;
      font-size: 1em;
      display: block;
      position: relative;
      width: 150px;
      height: 182px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
      color: white;
      transition: 0.3s;
      transform: scale(1);
      opacity: 1;
      overflow: hidden;

      .card-body {
        width: 150px;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-grow: 1;

        &.-red {
          background: linear-gradient(180deg, $dashboard-red-start 0%, $dashboard-red-end 100%);
        }

        &.-orange {
          background: linear-gradient(180deg, $dashboard-orange-start 0%, $dashboard-orange-end 100%);
        }

        &.-pink {
          background: linear-gradient(180deg, $dashboard-pink-start 0%, $dashboard-pink-end 100%);
        }

        &.-purple {
          background: linear-gradient(180deg, $dashboard-purple-start 0%, $dashboard-purple-end 100%);
        }

        &.-gray {
          background: #c8bac1;
          color: $gray-15;

          .activity-card__label {
            font-family: $lato-font;
            text-transform: none;
            letter-spacing: 0.1em;
            font-size: 0.9em;
            padding: 0 20px;
          }
        }
      }

      .card-footer {
        width: 100%;
        background: $gray-15;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 0.9em;
      }

      &__label {
        font-family: $slab-font;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 0.15em;
        line-height: 1.4em;
        font-weight: 900;
        text-align: center;
        transition: 0.3s;
        transform: scale(1);
        opacity: 1;
      }

      &__icon {
        margin-top: -5px;
        width: 55px;
      }

      &__check {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }
}
