@import '../../../variables.scss';

.biometric-card {
  background: white;
  width: 98px;
  height: 110px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;

  &__top {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $brand-color-03;

    .top-container {
      margin-top: 5px;

      .top-primary {
        font-family: $slab-font;
        font-weight: 500;
        font-size: 2em;
      }

      .top-secondary {
        font-family: $slab-font;
        font-size: 0.9em;
        margin-left: 2px;
      }
    }
  }

  &__bottom {
    background: linear-gradient(0deg, #ffffff 0%, #f0eaed 100%);
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;

    .bottom-label {
      font-family: $lato-font;
      font-size: 0.8em;
    }
  }
}
