@import '../../../variables.scss';

.fab {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  padding: 0;
  margin: 0;
  background: linear-gradient(315deg, #c31a40 0%, #f23c2e 100%);
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  overflow: hidden;

  &:active {
    transform: scale(0.9);
  }

  &.-dark{
    background: $gray-15;
  }
}
