@import '../../../variables.scss';

.select-classes-container {
  ion-content,
  ion-grid {
    padding: 0;
    margin: 0;
  }

  & > ion-content > ion-grid {
    background-image: linear-gradient(0deg, #191616 0%, rgba(0, 0, 0, 0) 70%),
      radial-gradient(
        circle at left top,
        rgba(242, 60, 46, 0.9) 0%,
        rgba(169, 7, 102, 0.6) 25%,
        rgba(125, 2, 72, 0) 60%
      ),
      url('/img/backgrounds/plan.jpg');
    background-size: cover;
    background-position: left top, center;
    padding: 7vw 0;

    ion-row:first-child,
    ion-row:last-child {
      padding: 0 7vw;
    }

    .btn {
      position: absolute;
      bottom: 7vw;
      left: 7vw;
      width: calc(100% - 14vw);
    }

    .no-modality-label {
      font-family: $lato-font;
      color: $gray-80;
      font-weight: 500;
      font-size: 1em;
      max-width: 90%;
      margin-top: 7vw;
      margin: auto;
      text-align: center;
    }

    .swiper-title {
      color: white;
      font-family: $lato-font;
      font-weight: 700;
      font-size: 1.1em;
      line-height: 1.4em;
      padding: 7vw;
    }

    .swiper-bullets {
      text-align: center;
      width: 100%;
      padding-top: 40px;
      padding-bottom: 60px;
      color: white;

      .bullet {
        background: white;
        width: 6px;
        height: 6px;
        display: inline-block;
        border-radius: 10px;
        margin: 5px;
        opacity: 0.5;
        transition: 0.2s;
        transform: scale(1);

        &.highlighted {
          opacity: 1;
          transform: scale(1.3);
        }
      }
    }

    h1 {
      color: white;
      font-family: $slab-font;
      text-transform: uppercase;
      font-size: 1.9em;
      z-index: 20;
      margin-top: 15vw;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
