@import '../../../variables.scss';

.class-card {
  overflow: visible;
  padding: 10px;
  margin: -10px;

  a {
    text-decoration: none;
    color: inherit;
    width: 100%;
  }

  ion-item-sliding {
    overflow: visible;

    ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      --inner-padding-start: 0;
      box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.15);
      border-radius: 16px;
    }
  }

  .class-card__foreground {
    display: flex;
    width: 100%;
    padding: 0;
    font-size: 1em;
    height: 85px;
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    overflow: hidden;
    background: white;

    .foreground__left {
      position: relative;
      display: flex;
      text-align: center;
      min-width: 80px;
      height: 85px;

      .left__dot {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        .status-dot {
          position: absolute;
          top: 15px;
          left: calc(50% - 4px);
          background: gray;
          width: 8px;
          height: 8px;
          border-radius: 50px;

          &.-available {
            background: $class-available;
          }

          &.-unavailable {
            background: $class-unavailable;
          }

          &.-premium {
            background: $premium-gold;
          }
        }
      }

      .card__date {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 14px;
        font-family: $lato-font;
        color: $gray-15;
        font-size: 0.758em;
      }

      .left__time {
        align-self: center;
        font-weight: 700;
        font-family: $lato-font;
        width: 100%;
      }

      .left__chip {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        .status-chip {
          width: 60px;
          height: 20px;
          line-height: 20px;
          border-radius: 50px;
          font-family: $lato-font;
          margin: 6px auto;
          font-weight: 700;
          font-size: 0.7em;
          background: $gray-30;
          color: white;

          &.-booked {
            background: $class-available;
          }

          &.-counter {
            background: $gray-15;
          }
        }
      }
    }

    .foreground__middle {
      position: relative;
      display: flex;
      min-height: 85px;
      flex-grow: 5;
      max-width: calc(100% - 150px);
      color: $gray-15;
      padding: 0;

      .class-card-icon {
        position: absolute;
        right: 0px;
      }

      .middle__separator {
        align-self: center;
        width: 1px;
        height: 60px;
        background: $gray-90;
      }

      .middle__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .middle__title {
          padding: 0;
          margin: -1px;
          margin-top: 3px;
          width: 100%;
          font-family: $slab-font;
          font-weight: 900;
          text-transform: uppercase;
          font-size: calc(7px + 1.8vw);
          color: inherit;
          align-self: center;
          padding: 0 2.5vw;
          text-align: left;
        }

        .middle__instructor {
          padding: 0;
          margin: -1px;
          margin-top: 3px;
          width: 100%;
          font-size: 0.9em;
          font-family: $lato-font;
          color: $gray-40;
          align-self: center;
          padding: 0 2.5vw;
          text-align: left;
        }
      }
    }

    .foreground__right {
      display: flex;
      flex-direction: column;
      height: 85px;
      min-width: 70px;
      padding: 18px 0;
      font-family: $lato-font;
      justify-content: center;

      .right__studio {
        width: 100%;
        font-size: 1em;
        font-weight: 700;
        padding-bottom: 10px;
      }

      .right__duration {
        width: 100%;
        font-size: 0.9em;
        color: $gray-40;
      }
    }
  }
}
