@import '../../../variables.scss';

.catalog__container {
  .filters-container {
    margin-left: 7vw;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;

    .filter-badge {
      background: $gray-15;
      color: white;
      border-radius: 20px;
      font-family: $lato-font;
      font-size: 0.9rem;
      padding: 5px 10px;
      margin-right: 10px;
    }
  }

  .section-title {
    margin-bottom: 0;
    margin-left: 7vw;
    color: $gray-40;
    font-size: 0.9rem;
    font-family: $lato-font;
  }

  .featured__list {
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 7vw;
    display: flex;

    .product-featured-card {
      margin-right: 20px;
    }

    &:first-child {
      padding-left: 7vw;
    }

    &:last-child {
      padding-right: 7vw;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .all__list {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 7vw;
  }
}
