@import '../../../variables.scss';

#plan-home-container {
  position: relative;
  overflow: scroll;
  max-height: 100vh;
  scroll-behavior: smooth;

  ion-grid,
  ion-row,
  ion-col {
    padding: 0;
    margin: 0;
  }

  .rest-divider {
    width: 100%;
    padding: 4vw 3vw;
    margin: 0 7vw;
    display: flex;
    align-items: center;
    border-left: 2px dashed $gray-40;
    flex-direction: column;
    position: relative;

    &.expanded {
      .divider-badge {
        width: 200px;
        height: 200px;
        margin: 20px auto;
        opacity: 1;
      }
    }

    .divider-badge {
      position: relative;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      width: 0;
      height: 0;
      border-radius: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: 0.5s;

      .fab {
        position: absolute;
        top: calc(100px - 32px);
        right: -32px;
        width: 64px;
        height: 64px;
        border-radius: 50px;
        padding: 0;
        margin: 0;
        background: linear-gradient(315deg, #c31a40 0%, #f23c2e 100%);
        box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.5);
        transition: 0.2s ease-out;
        z-index: 300;

        img {
          width: 40px;
          height: 40px;
        }

        &:active {
          transform: scale(0.7);
        }
      }

      img {
        width: 100px;
        height: 100px;
      }
    }

    .divider-info {
      display: flex;
      align-items: center;
      width: 100%;

      span {
        margin-top: 2px;
        color: $gray-30;
      }
    }
  }

  #plan-header {
    max-height: calc(400px + 10vh);
    height: calc(400px + 10vh);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    background-image: radial-gradient(
        circle at left top,
        rgba(242, 60, 46, 0.9) 0%,
        rgba(169, 7, 102, 0.6) 35%,
        rgba(125, 2, 72, 0) 70%
      ),
      url('/img/backgrounds/plan.jpg');
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7vw;
    padding-bottom: 10vh;

    a {
      pointer-events: all;
    }

    .plan-header__avatar {
      position: absolute;
      top: 7vw;
      right: 7vw;
    }

    h1 {
      text-transform: uppercase;
      font-family: $slab-font;
      color: white;
      font-size: calc(0.4em + 6vw);
      font-weight: 500;
      width: 100%;
      text-align: center;
      margin: auto;
      margin-bottom: 7vw;

      b {
        display: block;
      }
    }

    span {
      width: 100%;
      display: block;
      color: white;
      text-align: center;
      font-family: $lato-font;
      font-size: 0.9em;
    }

    .objective {
      font-family: $slab-font;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8em;
      padding: 16px 15px 10px 15px;
      border-radius: 50px;
      margin: auto;
      letter-spacing: 0.2em;
      margin-top: 3vw;
      background: linear-gradient(90deg, $brand-gradient-end 0%, $brand-gradient-middle 100%);
      text-align: center;
      line-height: 1.6em;
    }
  }

  .plan-content {
    position: relative;
    background: $gray-bg;
    z-index: 250;
    width: 100%;
    margin-top: calc(400px - 28px);
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    padding: 7vw 0;

    .badge-swiper {
      padding-bottom: 0;
    }

    .warning-title {
      width: 100%;
      display: block;
      text-align: center;
      font-family: $lato-font;
      color: $gray-15;
      font-size: 1em;
    }

    .plan-warnings {
      margin-bottom: 50px;
    }

    .plan-exercises {
      padding: 0 7vw 7vw 7vw;

      .tab-bar {
        width: 100%;
        display: flex;
        justify-content: space-around;
        overflow-x: scroll;
        overflow-y: hidden;

        .tab {
          background: none;
          padding: 0;
          margin: 0;
          width: 100%;
          color: $brand-color-03;
          font-family: $slab-font;
          font-size: 0.8em;
          text-transform: uppercase;
          font-weight: 700;
          z-index: 5;
          text-align: center;
          height: 36px;
          padding: 0 10px;
          line-height: 38px;
          transition: 0.3s;

          &.selected {
            background: $gray-15;
            color: white;
            border-radius: 33px;
          }
        }
      }

      .plan-exercises-list {
        margin-top: 7vw;

        ion-row {
          position: relative;
        }
      }
    }

    .plan-cta {
      padding: 7vw;
    }

    .progress-chip__container {
      position: fixed;
      top: 7vw;
      left: 22vw;
      right: 22vw;
      height: 50px;
      z-index: 350;
      opacity: 0;

      .progress-chip {
        margin: auto;
        background: white;
        height: 100%;
        width: 150px;
        text-align: center;
        font-family: $lato-font;
        font-weight: 700;
        line-height: 50px;
        color: $gray-30;
        border-radius: 50px;
        box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}
