@import '../../../variables.scss';

.complaint-thread__container {
  background: $gray-bg;
  padding-top: 13vh;
  min-height: 100vh;
  overflow-y: scroll;

  .white-cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    // background: white;
    height: 15vh;
    z-index: 0;
  }

  .complaint__container {
    position: relative;
    border-radius: 16px;
    background: white;
    padding: 7vw;
    margin-bottom: 3vh;
    z-index: 10;

    .complaint__header {
      padding-bottom: 20px;
      border-bottom: 1px solid $gray-65;

      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;
        color: $gray-15;

        .date {
          font-size: 0.9em;
          color: $gray-40;
        }
      }

      .bottom {
        .destination-label {
          display: inline-block;
          margin-right: 5px;
          color: black;
        }

        .destination-name {
          color: $gray-40;
        }
      }
    }

    .complaint__body {
      .complaint__message {
        line-height: 1.6em;
      }
    }
  }
  .complaint__empty {
    text-align: center;
    color: $gray-40;
  }
}
