@import '../../../variables.scss';

.plan-start-card {
  width: 100%;
  height: 168px;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background: url('/img/backgrounds/exercise.jpg');
  background-size: cover;
  background-position: left top, center;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 1em;
  text-decoration: none;

  .overlay {
    position: relative;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .overlay::before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 5 !important;
    mix-blend-mode: overlay;
    background: radial-gradient(
      circle at bottom,
      #f23c2e 0%,
      rgba(164, 6, 98, 0.5) 40%,
      rgba(167, 6, 100, 0) 80%
    );
    opacity: 0.8;
  }

  img {
    width: 80px;
    height: 80px;
  }

  h1 {
    text-transform: uppercase;
    color: white;
    font-size: 1.4em !important;
    font-family: $slab-font;
    font-weight: 900;
    text-align: center;
    max-width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 1.4em;
  }
}
