@import '../../../variables.scss';

.snackbar {
  height: 7.5vh;
  display: flex;
  background-color: #333333;
  align-items: center;
  padding-left: 5vw;

  p {
    color: #e5e5e5;
    font-size: 0.9rem;
    font-family: $lato-font;
  }
}
