@import '../../../variables.scss';

.profile-info {
  padding: 3vh;

  .info-detail {
    padding: 3vh 0;

    .link {
      align-self: center;
    }
  }

  a {
    text-decoration: none;
  }

  .download-btn {
    background: white;
    border: 0;
    margin: 0;
    font-size: 1em;
    width: 100%;
    padding: 12px 4px 12px 20px;
    border-radius: 8px;
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
    margin-top: 20px;

    &__label {
      font-size: 1em;
      font-weight: 700;
      color: $gray-15;
    }

    &__img {
      width: 40px;
      height: 40px;
    }
  }

  .btn {
    margin-top: 3vh;
  }

  .file-btn {
    background: white;
    border: 0;
    margin: 0;
    font-size: 1em;
    width: 100%;
    padding: 12px 4px 12px 20px;
    border-radius: 8px;
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
    margin-top: -15px;

    &__label {
      font-size: 1em;
      font-weight: 700;
      color: $gray-15;
    }

    &__img {
      width: 40px;
      height: 40px;
    }
  }
}
