@import '../../../variables.scss';

.tos__container {
  background: white;
  height: 100vh;
  overflow-y: scroll;
  padding: 7vw;

  ion-grid,
  ion-row {
    padding: 0;
    margin: 0;
  }

  ion-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tos__title {
    font-family: $slab-font;
    color: $gray-15;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  .tos__text {
    color: $gray-30;
  }

  .tos__files {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 5vw;

    a {
      text-decoration: none;
      color: $brand-color-03;
      font-weight: 700;
    }

    .tos__file-item {
      color: $brand-color-03;
      font-weight: 700;
      padding: 8px 0;
    }
  }

  .checkbox__container {
    margin-bottom: 10px;

    .checkbox__button {
      align-self: flex-start;
    }
  }

  .tos__checks {
    width: 100%;
    display: block;
  }
}
