@import '../../../variables.scss';

.toast {
  z-index: 500;
  position: absolute;
  left: 0;
  right: 0;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  display: flex;
  align-items: center;
  padding: 20px;
  transform: translateY(-100%);
  transition: 0.4s;

  &.showing {
    transform: translateY(0);
    --safe-area-inset-top: env(safe-area-inset-top);
    padding-top: calc(20px + var(--safe-area-inset-top));
  }

  img {
    border: 2px solid $gray-15;
    border-radius: 50px;
    max-height: 40px;
    max-width: 40px;
    margin-right: 20px;
  }

  div {
    font-family: $lato-font;
  }

  b {
    font-size: 1.1em;
  }

  p {
    color: $gray-15;
    align-self: flex-end;
    margin: 0;
    margin-top: 5px;
    font-size: 1em !important;
    white-space: pre-wrap;
  }
}

.success {
  background: $alert-success;
}

.error {
  background: $alert-error;
}

.warn {
  background: $alert-warn;
}
