@import '../../../variables.scss';

.profile__container {
  overflow-y: scroll;
  max-height: 100vh;
  height: 100vh;

  .write-complaint-modal {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 300;
    transform: translateX(100vw);
    transition: 0.3s;

    &.-visible {
      transform: translateX(0);
    }
  }

  .profile-header__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .profile__content {
    background: $gray-bg;
    min-height: 100%;
    margin-top: 280px;
    // margin-top: 450px;
  }

  .fab-wrapper {
    position: absolute;
    top: calc(100vh - 64px - 7vw);
    right: 7vw;
    z-index: 250;
    opacity: 0;
    transition: 0.2s;
    pointer-events: none;

    .fab {
      top: 0;
      right: 0;
    }

    &.-visible {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
