.layered__container {
  overflow: scroll;
  max-height: 100vh;

  &.rounded {
    .foreground__container {
      border-top-right-radius: 28px;
      border-top-left-radius: 28px;
      margin-top: -28px;
      overflow: hidden;
    }
  }

  .layered__background {
    max-height: 45vh;
    height: 45vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
  }

  .layered__foreground {
    position: relative;
    z-index: 250;
    min-height: 60vh;
    width: 100%;
    margin-top: calc(45vh - 28px);

    .foreground__container {
      background: white;
      z-index: 250;
      transform: translateY(-28px);
    }

    .edge__container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 280;
    }
  }

  .layered__edge {
    z-index: 280;
    text-align: center;
    pointer-events: none;
  }

  .layered__cta {
    position: fixed;
    bottom: 7vw;
    right: 7vw;
    left: 7vw;
    z-index: 300;
  }
}
