@import '../../../variables.scss';

.progress-mini-card {
  width: 73px;
  height: 112px;
  padding: 15px;
  border-radius: 14px;
  background: linear-gradient(180deg, #f8576e 0%, #c31a39 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  color: white;
  opacity: 0.75;

  &.-red {
    background: linear-gradient(180deg, $dashboard-red-start 0%, $dashboard-red-end 100%);
  }

  &.-orange {
    background: linear-gradient(180deg, $dashboard-orange-start 0%, $dashboard-orange-end 100%);
  }

  &.-pink {
    background: linear-gradient(180deg, $dashboard-pink-start 0%, $dashboard-pink-end 100%);
  }

  &.-purple {
    background: linear-gradient(180deg, $dashboard-purple-start 0%, $dashboard-purple-end 100%);
  }

  &__value {
    .value-current {
      font-family: $slab-font;
      font-size: 1.5em;
    }
    .value-goal {
      font-family: $lato-font;
      font-size: 0.8em;
    }
  }
}
