@import '../../../variables.scss';

.modalities__container {
  background: $gray-bg;
  padding: 7vw 0;

  .group__container {
    .group__title {
      font-family: $lato-font;
      color: $gray-15;
      margin-left: 7vw;
      font-size: 1.1em;
    }

    .group__list {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: auto;
      white-space: nowrap;
      padding: 5vw 0 9vw 0;

      &::-webkit-scrollbar {
        display: none;
      }

      .group__list-item {
        display: inline-block;
        margin-right: 4vw;

        &:first-child {
          margin-left: 7vw;
        }
      }
    }
  }
}
