@import '../../../variables.scss';

.lead-container {
  position: relative;
  overflow: scroll;
  max-height: 100vh;
  background: white;

  ion-grid,
  ion-row,
  ion-col {
    padding: 0;
    margin: 0;
  }

  .leads__header {
    max-height: calc(400px + 10vh);
    height: calc(400px + 10vh);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background: $gray-15;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10vh;

    .header__gym {
      text-align: center;

      .separator {
        width: 2px;
        height: 55px;
        background: white;
        margin: auto;
        margin-bottom: 15px;
      }
    }

    .header__title {
      text-transform: uppercase;
      font-family: $slab-font;
      color: white;
      font-size: calc(0.2em + 4vh);
      font-weight: 500;
      width: 100%;
      text-align: center;
      max-width: 80%;
      margin: auto;
      margin-top: 5vh;
    }

    .header__text {
      text-transform: uppercase;
      font-family: $slab-font;
      color: white;
      font-weight: 500;
      width: 100%;
      text-align: center;
      max-width: 80%;
      font-size: calc(0.1em + 2vh) !important;
      margin: auto;
      padding-bottom: 10vh;
    }
  }

  .leads__content {
    position: relative;
    background: white;
    width: 100%;
    padding: 7vw;

    .form__title {
      width: 100%;
      font-family: $lato-font;
      color: $gray-15;
      margin-bottom: 7vw;
      text-align: center;
      display: block;
    }

    .open-list-button {
      background: white;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: left;
      font-family: $lato-font;
      font-weight: 700;
      font-size: 1.1em;
      border-radius: 8px;
      display: flex;
      align-items: center;
      padding: 8px 10px;
      margin-left: 1px;
      margin-right: 1px;
      margin-top: 10px;
      border: 1px solid lightgray;

      b {
        padding: 0;
        margin: 0;
        flex-grow: 1;
      }

      img {
        margin-top: 2px;
      }
    }

    .line-input,
    .select-input {
      margin-bottom: 10vw;
    }

    .leads-tos__container {
      border: 1px solid lightgray;
      padding: 7vw;
      margin: 7vw 0;
      border-radius: 10px;

      .tos__title {
        font-family: $slab-font;
        color: $gray-15;
        font-weight: 700;
        font-size: 1em;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 15px;
      }

      .tos__files {
        margin: 0;
        padding: 0;
        list-style: none;

        a {
          text-decoration: none;
          color: $brand-color-03;
          font-weight: 700;
        }

        .tos__file-item {
          color: $brand-color-03;
          font-weight: 700;
          padding: 8px 0;
        }
      }

      .checkbox__container {
        margin-top: 5vw;
        margin-bottom: 5vw;

        .checkbox__button {
          align-self: flex-start;
        }

        .checkbox__label {
          line-height: 1.4em;
        }
      }

      .tos__checks {
        width: 100%;
        display: block;
      }
    }
  }
}
