@import '../../../variables.scss';

.rules-container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;

  p,
  ul {
    font-family: $lato-font;
    font-size: 1.05em;
    line-height: 1.5em;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }

  ul {
    margin: 0;
    padding: 0;
    margin-left: 7vw;

    li {
      margin-top: 15px;
    }
  }
}
