.reset-password__container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .reset-password__form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
  }
}
