@import '../../variables.scss';

.search-bar-container {
  display: flex;

  .search-bar {
    background: $gray-95;
    display: flex;
    flex: 2;
    align-items: center;
    border-radius: 6px;

    &__image {
      height: 36px;
    }

    &__input {
      width: 100%;
      flex-grow: 1;
      background: none;
      font-size: 1.1em;
      border: none;
      font-family: $lato-font;
      margin: 0 5px;
      height: 45px;

      &:focus,
      &:active {
        outline: none;
      }
    }

    &__button {
      background: none;
      padding: 0;
      margin: 0;

      img {
        opacity: 0.5;
      }
    }
  }

  .btn-text {
    flex: 0.5;
    padding: 0;
    padding-left: 10px;
    color: $gray-40;
    position: relative;
    font-size: 12px;
    border-radius: 50px;
    background: none;
    line-height: 25px;
    font-family: $slab-font;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;

    &.dark {
      color: white;
    }
  }
}
