@import '../../../variables.scss';

.modality-select__card {
  position: relative;
  height: 260px;
  width: 220px;
  border-radius: 16px;
  border: 2px solid transparent;
  transition: 0.3s;
  overflow: hidden;

  &.-unfocused {
    transform: scale(0.9);
    opacity: 0.9;
  }

  &.-selected {
    border: 2px solid white;

    .modality-select__check {
      opacity: 1;
    }
  }

  .modality-select__header {
    height: 150px;
    overflow: hidden;
    background-image: url('/img/backgrounds/exercise.jpg');
    background-size: cover;
    background-position: center;
    z-index: 3 !important;
    display: flex;
    justify-content: center;
    align-content: center;

    .overlay-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 150px;
      z-index: 0;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        z-index: 5;
        mix-blend-mode: overlay;
      }
    }

    .modality__title {
      font-family: $slab-font;
      font-size: 1.1em;
      font-weight: 900;
    }
  }

  .modality-select__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    z-index: 50;

    &::-webkit-scrollbar {
      opacity: 0;
      display: none;
    }
  }

  .modality-select__content {
    background: white;
    margin-top: 134px;
    border-radius: 16px;
    overflow: hidden;

    .handle {
      width: 50px;
      height: 3px;
      border-radius: 80px;
      background: $gray-80;
      margin: 10px auto;
    }

    .description {
      font-family: $lato-font;
      font-size: 1.1em;
      line-height: 1.7em;
      color: $gray-15;
      padding: 5px 15px 15px 15px;
      min-height: 110px;
    }
  }

  .modality-select__check {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border-radius: 50px;
    max-width: 25px;
    max-height: 25px;
    opacity: 0; // hidden by default
    transition: 0.3s;
    z-index: 50 !important;
  }
}
