@import '../../../../../variables.scss';

.side-button__container {
  background: gray;
  border-radius: 16px !important;
  overflow: hidden;

  .side-button__option {
    background: inherit;

    .side-button {
      height: 100%;
      width: 85px;
      background: none;

      &__icon {
        margin-top: -7px;
      }

      &__label {
        color: white;
        font-family: $lato-font;
        font-size: 1em;
      }

      &:active,
      &:focus {
        outline: none;
      }

      &:active {
        transform: scale(0.8);
      }
    }
  }

  &.-book {
    background: $class-action-book;
  }

  &.-cancel {
    background: $class-action-cancel;
  }

  &.-unavailable {
    background: $class-action-cancel;
  }

  &.-favorite {
    background: $class-action-favorite;
  }

  &.-unfavorite {
    background: white;

    .side-button__label {
      color: $class-action-favorite;
    }
  }

  &.-counter {
    background: $gray-15;

    .side-button:active {
      transform: none;
    }
  }
}
