@import '../../../variables.scss';

.remove-popup__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background: rgba(0, 0, 0, 0.5);

  .remove-popup {
    background: $gray-90;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    height: calc(100% - 50px);
    padding: 7vw;
    overflow-y: scroll;
    padding-bottom: 25vw;

    .top {
      text-align: right;
      position: absolute;
      top: 7vw;
      right: 7vw;

      button {
        background: none;
        border: none;
        padding: 0;
      }
    }

    .mid {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 112px;
        height: 112px;
        object-fit: cover;
        border-radius: 16px;
      }

      b {
        font-family: $slab-font;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 15px;
        max-width: 80%;
        text-align: center;
      }

      span {
        background: $gray-15;
        font-family: $slab-font;
        color: white;
        text-transform: uppercase;
        border-radius: 50px;
        padding: 7px 10px;
        padding-top: 9px;
        font-size: 0.8em;
        font-weight: 700;
      }
    }

    .bottom {
      font-family: $lato-font;
      font-size: 1.1em;
      max-width: 70%;
      text-align: center;
      margin: auto;
      margin-top: 30px;
    }
  }

  .btn {
    position: absolute;
    bottom: 80px;
    left: 7vw;
    right: 7vw;
    width: 86vw;
  }
}
