@import '../../../variables.scss';

.product-featured-card {
  position: relative;
  background: $gamification-highlight;

  width: 190px;
  height: 215px;
  border-radius: 16px;
  padding: 7px;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
      background: rgb(200, 200, 200);
      z-index: 5;
      mix-blend-mode: multiply;
    }
  }

  .card__top {
    height: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 10;

    .new {
      position: absolute;
      padding: 7px 12px;
      border-radius: 50px;
      background: $blue;
      width: auto;
      font-size: 0.8em;
      color: white;
      font-family: $lato-font;
    }
  }

  .card__middle {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    z-index: 10;

    .card-title {
      font-family: $slab-font;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      font-size: 1.3em;
      text-align: center;
      white-space: pre-wrap;
      flex: 1;
      display: flex;
      align-items: center;
    }

    .card-pts {
      background: $gray-15;
      font-family: $slab-font;
      color: white;
      text-transform: uppercase;
      border-radius: 50px;
      padding: 7px 10px;
      padding-top: 9px;
      font-size: 0.8em;
      font-weight: 700;
    }
  }

  .card__bottom {
    margin: 0 10px;
    height: 40px;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;

    .card-duration {
      color: white;
      font-size: 0.9em;
      font-family: $lato-font;
      text-align: center;
    }
  }
}
