@import '../../../variables.scss';

.modality__header {
  height: 100%;
  position: relative;

  .modality__banner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .modality__banner-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 5 !important;
    mix-blend-mode: overlay;
  }

  .modality__header-wrapper {
    position: absolute;
    right: 0;
    bottom: 10vh;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .gym__header {
      width: 100%;
      text-align: center;
      flex-direction: column;

      .gym__line {
        margin: auto;
        height: 7.5vh;
        width: 2px;
        background: white;
        margin-bottom: 1vh;
      }

      .gym__name {
        font-family: $lato-font;
        color: white;
        font-size: 1.4em;
      }
    }

    .modality__title {
      width: 100%;
      font-family: $slab-font;
      color: white;
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
      font-size: 8vw;
      margin: 0;
      padding: 0;
      margin-top: 20px;
      padding: 0 10vw;
    }

    .modality__instructor {
      padding: 0;
      margin: -1px;
      margin-top: 3px;
      width: 100%;
      text-align: center;
      font-size: 0.95em;
      font-family: $lato-font;
      color: white;
      align-self: center;
      padding: 0 10vw;
    }

    .modality__intensity {
      width: 100%;
      text-align: center;
      padding: 10px 0px;

      .intensity__dash {
        background: white;
        height: 4px;
        width: 23px;
        display: inline-block;
        margin: 2px;
        opacity: 0.4;

        &.on {
          opacity: 1;
        }
      }

      .intensity__label {
        display: block;
        color: white;
        font-family: $lato-font;
        text-transform: uppercase;
        font-size: 0.7em;
        margin-top: 8px;
        letter-spacing: 0.15em;
        text-align: center;
        padding-bottom: 25px;
      }
    }
  }
}
