@import '../../../variables.scss';

.mychallenges__title {
  margin-left: 7vw;
  color: $gray-40;
  font-size: 0.9rem;
  font-family: $lato-font;
}

.mychallenges__badges {
  text-align: center;
  font-family: $slab-font;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 900;
}

.mychallenges__text {
  text-align: center;
  font-family: $lato-font;
  margin-top: 0;
  color: $gray-40;
  font-size: 0.9rem;
}

.ongoing__container {
  text-align: center;

  .ongoing__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
    padding: 3vw 0 10vw 0;
    display: flex;

    &::-webkit-scrollbar {
      display: none;
    }

    .ongoing__list-item {
      display: inline-block;
      margin-right: 4vw;

      &:first-child {
        margin-left: 7vw;
      }
      &:last-child {
        padding-right: 7vw;
      }
    }
  }
}

.badges__container {
  text-align: center;

  .badges__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
    padding: 3vw 0 10vw 0;
    display: flex;
    display: flex;
    flex-wrap: wrap;

    &::-webkit-scrollbar {
      display: none;
    }

    .badges__list-item {
      width: 50%;
      margin: 15px auto;
    }

    .badges__list-date {
      color: $gray-40;
      font-family: $lato-font;
      font-size: 0.8rem;
      margin: 0;
    }

    .badges__list-name {
      font-family: $lato-font;
      font-size: 0.95rem;
      font-weight: bold;
      margin: 5px auto;
      white-space: normal;
    }

    .badges__list-points {
      color: $gray-15;
      font-family: $lato-font;
      font-size: 0.95rem;
      margin: 0;
    }
  }
}
