@import '../../variables.scss';

.checkbox__container {
  width: 100%;
  display: flex;
  align-items: center;

  .checkbox__button {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    background: none;
    border: 2px solid $brand-color-03;
    border-radius: 3px;
    transition: 0.3s;

    .checkbox__icon {
      opacity: 0;
      transition: 0.3s;
      transform: scale(1.4);
    }

    &.checked {
      background: $brand-color-03;

      .checkbox__icon {
        opacity: 1;
      }
    }
  }

  .checkbox__label {
    flex-grow: 1;
    max-width: calc(100% - 40px);
    font-size: 0.9em;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    background: none;
    text-align: left;
  }
}
