@import '../../../variables.scss';

.material-tabs {
  .mdc-tab {
    text-transform: none;
    color: white;
    font-family: $lato-font;
    font-size: 0.9em;
    font-weight: 700;
    background: none;
    padding: 0 13px;
    width: auto;
    letter-spacing: 0.05em;
  }

  .mdc-tab-indicator--active {
    border-bottom: 4px solid $brand-color-01;
  }

  .mdc-tab-indicator__content--underline {
    display: none;
  }

  .mdc-tab__ripple::before,
  .mdc-tab__ripple::after {
    background: none;
  }
}
