.login-page {
  padding-top: 0;

  form {
    min-height: 100%;
    height: calc(100vh - 7vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &.keyboard {
    .line-input:first-child {
      margin-top: 8vh;
      margin-bottom: 40px;
    }

    .link {
      display: none;
    }
  }

  .line-input {
    margin-bottom: 0;
  }

  .line-input:first-child {
    margin-bottom: 40px;
  }

  .inputs-row {
    display: flex;
    justify-content: flex-end;
  }

  .link {
    margin-bottom: 20px;
    margin-top: 30px;
  }
}
