@import '../../../variables.scss';

.remove-link {
  text-decoration: none;
  color: black;
}

.challenge-card {
  background: white;
  padding: 50px 15px 15px 15px;
  border-radius: 20px;
  box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.3);
  max-width: 210px;
  min-width: 180px;
  width: 60vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  position: relative;

  .challenge-card__label {
    border-radius: 20px;
    padding: 7px 14px;
    position: absolute;
    background-color: $gamification-new;
    top: 10px;
    right: 10px;

    p {
      margin: 0;
      color: white;
    }
  }

  .challenge-card__title {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    font-family: $slab-font;
    white-space: normal;
    padding: 0;
    flex: 1;
  }

  .challenge-card__badge {
    width: 70px;
  }

  .challenge-card__separator {
    height: 1px;
    background-color: $gamification-separator;
    width: 90%;
    margin: 10px auto;
    opacity: 0.5;
  }

  .challenge-card__caption {
    margin: 0px;
    color: $gray-40;
    font-size: 0.9em;
  }
}

.progression {
  background: linear-gradient(139.76deg, #ffffff 0%, #d8e1ff 99.93%);

  .challenge-card__title {
    color: black;
  }

  .challenge-card__label {
    p {
      color: black;
    }
  }

  .challenge-card__caption {
    color: black;
  }

  .challenge-card__progress-bar {
    width: 70%;
    background-color: #d7ced2;
    border-radius: 3.5px;
    position: absolute;
    top: 25px;

    .challenge-card__progress-bar-fill {
      display: block;
      height: 4px;
      background-color: #5e85ff;
      border-radius: 3.5px;

      transition: width 500ms ease-in-out;
    }
  }
}
