@import '../../../variables.scss';

.modality__card {
  background: $gray-30;
  position: relative;
  width: 150px;
  max-width: 45vw;
  height: 120px;
  border-radius: 16px;
  display: inline-block;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.2);

  &.unfocused {
    opacity: 0.3;
    transform: scale(0.9);
  }

  a {
    height: 100%;
    width: 100%;
  }

  button {
    padding: 0;
    background: none;
    height: 100%;
    width: 100%;
  }

  .card__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 16px;

    .card__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      mix-blend-mode: overlay;
      border-radius: 16px;
    }
  }

  .card__wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -15px;
    font-size: 1rem;

    .card__title {
      font-family: $slab-font;
      font-weight: 900;
      color: white;
      text-transform: uppercase;
      font-size: 20px;
      margin: 0;
      padding: 0 5px;
      font-size: 1em;
      text-align: center;
    }

    .card__intensity {
      position: absolute;
      bottom: 15px;
      left: 0;
      right: 0;
      height: 5px;
      display: flex;
      justify-content: center;
      z-index: 10;

      .dash {
        height: 3px;
        width: 16px;
        background: $gray-40;
        margin: 1px;

        &.active {
          background: white;
        }
      }
    }
  }
}
