@import '../../../variables.scss';

.next-classes-container {
  position: relative;
  background: $gray-bg;
  min-height: 100%;
  overflow-x: hidden;

  .classes-list {
    background: none;
    padding: 3vh;
    padding-bottom: 5vh;
    padding-top: 0;
    margin-bottom: 0;
    overflow-x: hidden;
  }

  .tabs {
    z-index: 100;
    background: inherit;
    padding: 3vh 0 3vh 0;

    .badge-tabs {
      .mdc-tab {
        &:first-child {
          margin-left: 3vh;
        }
        &:last-child {
          margin-right: 3vh;
        }
      }
    }
  }

  .classes {
    padding: 0 4vw;
    background: transparent;
    overflow-x: hidden;
  }

  .load-more-btn {
    width: 100%;
    background: none;
    padding: 10px 15px;
    font-size: 1em;
    margin-top: 40px;
    font-family: $lato-font;
    font-weight: 700;
  }
}
