@import '../../../variables.scss';

.class-mini-card {
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.2);
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  margin: 0;
  transition: 0.1s;

  &.-disabled {
    opacity: 0.2;
    transform: scale(0.95);
  }

  &.-selected {
    box-shadow: 0 8px 36px 0 rgba(0, 0, 0, 0.1);
  }

  &__top {
    position: relative;
    padding-top: 23px;
    height: 92px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card__indicator {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      .status-chip {
        width: 70px;
        height: 22px;
        line-height: 22px;
        border-radius: 50px;
        font-family: $lato-font;
        margin: 5px auto;
        font-weight: 700;
        font-size: 0.8em;
        background: $gray-30;
        color: white;

        &.-booked {
          background: $class-available;
        }

        &.-counter {
          background: $gray-15;
        }
      }

      .status-dot {
        position: absolute;
        top: 10px;
        left: calc(50% - 4px);
        background: gray;
        width: 8px;
        height: 8px;
        border-radius: 50px;

        &.-available {
          background: $class-available;
        }

        &.-unavailable {
          background: $class-unavailable;
        }

        &.-premium {
          background: $premium-gold;
        }
      }
    }

    .card__date {
      font-family: $lato-font;
      color: $gray-15;
      font-size: 1.1em;
    }

    .card__time {
      font-family: $lato-font;
      font-size: 1.9em;
      color: $gray-15;
      display: block;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .card__duration {
      font-family: $lato-font;
      color: $gray-15;
      font-size: 1.1em;
    }
  }

  &__bottom {
    height: 28px;
    width: 100%;
    display: flex;
    justify-content: center;

    .card__studio {
      background: $gray-15;
      color: white;
      font-size: $lato-font;
      margin: 0;
      padding: 0;
      width: 100%;
      line-height: 25px;
      font-size: 1.3em;
    }
  }
}
