@import '../../../variables.scss';

.complaint-card-row {
  position: relative;
  width: 100%;

  a {
    text-decoration: none;
  }

  .new-complaint-card {
    position: relative;
    background: white;
    padding: 15px;
    border-radius: 14px;

    .top {
      color: $gray-40;
      font-size: 0.9em;
      padding-left: 18px;
    }

    .middle {
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .dot {
        width: 8px;
        height: 8px;
        background: $blue;
        margin-right: 10px;
        border-radius: 30px;
        margin-top: 2px;
      }

      .title {
        color: $gray-15;
        font-size: 0.9em;
        flex-grow: 1;
      }

      .date {
        font-size: 0.9em;
        color: $gray-30;
      }
    }

    .bottom {
      color: black;
      padding-left: 18px;
      line-height: 1.4em;
      margin-top: 10px;
      font-size: 0.9em;
    }
  }

  .close-btn {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
  }
}
