@import '../../../../../variables.scss';

.stamps__container {
  .stamps__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .stamps-value {
      font-size: 0.9em;
    }
  }

  .stamps__list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .stamp {
      width: 56px;
      height: 56px;
      background: $gray-bg;
      border-radius: 8px;
      opacity: 0.3;
      display: flex;
      flex-direction: row;
      align-items: center;

      &.-filled {
        opacity: 1;
      }

      img {
        transform: rotate(-45deg);
      }
    }
  }
}
