@import '../../../variables.scss';

.swipe-button {
  position: relative;
  background: white;
  color: $brand-color-03;
  padding: 17px 10px 14px 10px;
  border-radius: 50px;
  line-height: 25px;
  font-size: 0.8em;
  font-family: $slab-font;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.15em;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.25);

  .swipe-handle {
    position: absolute;
    top: 5px;
    left: 5px;
    background: green;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background: linear-gradient(-90deg, $brand-color-02 0%, $brand-color-01 100%);

    img {
      margin-top: 3px;
      margin-left: -1px;
    }
  }
}
