@import '../../../variables.scss';

.select-card {
  width: 220px;
  border-radius: 16px;
  overflow: hidden;
  transform: scale(0.9);
  opacity: 0.9;
  transition: 0.3s;
  border: 2px solid transparent;

  button {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: none;
    text-align: left;
  }

  &.highlighted {
    transform: scale(1);
    opacity: 1;
  }

  .img-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border-radius: 50px;
    max-width: 25px;
    max-height: 25px;
    opacity: 0;
    transition: 0.3s;
    z-index: 10 !important;
  }

  &.selected {
    border: 2px solid white;

    .img-wrapper {
      visibility: visible;
      opacity: 1;
    }
  }

  &.disabled {
    opacity: 0.35;
  }

  ion-grid,
  ion-row {
    padding: 0 !important;
    margin: 0 !important;
  }

  ion-grid {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: space-between;
  }

  .card-header {
    height: 150px;
    width: 100%;
    z-index: 3 !important;

    .overlay {
      position: relative;
      height: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .overlay::before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
      z-index: 5 !important;
      mix-blend-mode: overlay;
      background: radial-gradient(
        circle at bottom,
        #f23c2e 0%,
        rgba(164, 6, 98, 0.5) 46.85%,
        rgba(167, 6, 100, 0) 100%
      );
      opacity: 0.75;
    }

    h3 {
      color: white;
      font-family: $slab-font;
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }

  .card-description {
    flex-grow: 1;
    width: 100%;
    background: white;
    height: 110px;
    margin: 0;
    padding: 0;
    font-family: $lato-font;
    padding: 10px;
    font-size: 1.3em;
    line-height: 1.7em;
    color: $gray-15;
  }
}
