@import '../../../variables.scss';

.challenge-mini-card {
  background: white;
  padding: 30px 15px 20px 15px;
  border-radius: 20px;
  box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.3);
  width: calc(100% - 10px);
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  .challenge-mini-card__close {
    border: 0;
    background: 0;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.7;
  }

  .challenge-mini-card__text {
    font-size: 0.95em;
    font-family: $lato-font;
    text-align: left;
    white-space: normal;
    flex: 1;
    line-height: 1.6em;
    margin-left: 10px;
  }
}
