@import '../../../variables.scss';

.welcome-page__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .welcome-page__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    .page-top {
      .page-subtitle {
        margin: auto;
        margin-top: 10px;
        width: 90%;
        text-align: center;
        font-size: 1.1em;
      }
    }

    .page-bottom {
      .underline-btn {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 12px;
        color: white;
        padding: 18px 25px;
        border-radius: 50px;
        background: none;
        line-height: 25px;
        font-family: $slab-font;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.15em;
        text-decoration: underline;
        margin-top: 15px;

        &:active,
        &:focus {
          outline: none;
        }

        &:active {
          opacity: 0.7;
        }
      }
    }
  }
}
