@import '../../../variables.scss';

.plan-finish__container {
  height: 100vh;
  padding: 7vw 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-image: radial-gradient(
      circle at left top,
      rgba(242, 60, 46, 0.9) 0%,
      rgba(169, 7, 102, 0.6) 35%,
      rgba(125, 2, 72, 0) 70%
    ),
    url('/img/backgrounds/plan.jpg');
  background-size: cover;
  background-position: top center;

  .header {
    font-family: $lato-font;
    color: $gray-15;
    padding: 0 7vw;
    display: flex;
    flex-direction: column;

    &__title {
      text-transform: uppercase;
      font-family: $slab-font;
      font-size: 2em;
      font-weight: 900;
      color: white;
      margin: 0;
    }

    &__text {
      font-size: 1em;
      color: $gray-90;
      margin-top: 10px;
    }
  }

  .modalities {
    .modalities__title {
      color: $gray-15;
      font-family: $lato-font;
      margin-left: 7vw;
      font-weight: 700;
      display: block;
      margin-bottom: 20px;
      color: white;
    }

    .modalities__list {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: auto;
      white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        display: inline-block;
        margin-right: 4vw;

        &:first-child {
          margin-left: 7vw;
        }
      }
    }
  }

  .cta {
    padding: 0 7vw;
  }
}
