@import '../../../variables.scss';

.gamification__container {
  overflow-y: scroll;
  max-height: 100vh;
  height: 100vh;

  .gamification-header__container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }

  .gamification__content {
    background: $gray-bg;
    min-height: 100%;
    padding-top: 20px;
  }

  .filters-chip__container {
    position: fixed;
    bottom: 7vw;
    left: 22vw;
    right: 22vw;
    height: 45px;
    z-index: 200;

    .filters-chip {
      margin: auto;
      background: white;
      height: 100%;
      width: 120px;
      text-align: center;
      font-family: $lato-font;
      font-weight: 700;
      line-height: 50px;
      color: $gray-30;
      border-radius: 50px;
      box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      img {
        margin-right: 3px;
        margin-left: -5px;
      }
    }
  }
}
