@import '../../variables.scss';

.privacy-form__container {
  border: 1px solid lightgray;
  padding: 7vw;
  background: white;
  border-radius: 8px;
  margin-top: 14vw;

  .tos__title {
    font-family: $slab-font;
    color: $gray-15;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
  }

  .tos__files {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      text-decoration: none;
      color: $brand-color-03;
      font-weight: 700;
    }

    .tos__file-item {
      color: $brand-color-03;
      font-weight: 700;
      padding: 8px 0;
    }
  }

  .checkbox__container {
    margin-top: 5vw;
    margin-bottom: 5vw;

    .checkbox__button {
      align-self: flex-start;
    }

    .checkbox__label {
      line-height: 1.4em;
    }
  }

  .tos__checks {
    width: 100%;
    display: block;
  }
}
