@import '../../../variables.scss';

.blog-container {
  h1 {
    text-transform: uppercase;
    font-family: $slab-font;
    font-size: 2em !important;
    color: $gray-15;
    margin: 0;
    line-height: 1.5em;
    display: inline-block;
    text-align: center;
    padding: 4vh calc(7vw - 10px);
    margin-top: 7px;
  }

  ion-spinner {
    width: 20vw;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: $brand-color-03;
  }

  iframe {
    z-index: 2;
    height: 100%;
    border: 0;
  }
}
