@import '../../../variables.scss';

.statuses__container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  background: black;
  background-image: radial-gradient(
    circle at center top,
    rgba(242, 60, 46, 0.9) 0%,
    rgba(169, 7, 101, 0.6) 30%,
    rgba(125, 2, 72, 0) 80%
  );
  background-size: cover;

  .statuses__title {
    width: 100%;
    display: block;
    text-align: center;
    color: white;
    font-size: 1.1em;
    margin-top: calc(4vh + 7px);
  }

  .statuses__text {
    margin: 10vw 7vw;
    color: white;
    text-align: center;
    line-height: 1.5em;
    width: 86%;
  }

  .statuses__list {
    margin: 20px;

    .status-card {
      width: 100%;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 16px;
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1em;
      text-align: left;

      &.-simple {
        background: none;
        padding-bottom: 0;

        .status-card__badge {
          height: 50px;
        }
      }

      &__badge {
        width: 50px;
        height: 70px;
      }

      &__content {
        width: calc(100% - 70px);

        .status-title {
          font-size: 1.25em;
          margin-top: 12px;
          display: block;
          color: white;
        }

        .status-text {
          color: white;
          font-size: 1em;
          line-height: 1.6em;
          margin-bottom: 10px;

          &.-collapsed {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
          }
        }
      }
    }

    .dashed-line {
      background: none;
      width: 1px;
      height: 50px;
      border-left: 1px dashed white;
      margin-left: 45px;
    }
  }
}
