@import '../../variables.scss';

.avatar {
  &.-large {
    .avatar-img__container {
      width: 60px;
      height: 60px;
    }

    .avatar-status {
      width: 30px;
      margin-left: 40px;
    }
  }

  &.-silver {
    .avatar-img__container {
      border: 2px solid #f34c30;
    }
  }

  &.-gold {
    .avatar-img__container {
      border: 2px solid #c31a39;
    }
  }

  &.-platinum {
    .avatar-img__container {
      border: 2px solid #7e1ac7;
    }
  }

  .avatar-img__container {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(0deg, #ffffff 0%, #d9cdd3 100%);
    overflow: hidden;

    .avatar-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .avatar-status {
    width: 25px;
    margin-top: -50px;
    margin-left: 20px;
  }
}
