@import '../../../variables.scss';

.text-area {
  position: relative;
  border-bottom: 1px solid white;

  &.dark {
    border-bottom: 1px solid $gray-40;

    textarea {
      color: $gray-15;
    }
  }

  .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.3em;
    padding: 10px 0;
    font-family: $lato-font;
    color: $gray-65;
    pointer-events: none;
    transition: 0.2s;

    &.focused {
      font-size: 0.9em;
      transform: translateY(-1.5em);
    }
  }

  textarea {
    background: none;
    border: none;
    font-size: 1.3em;
    color: white;
    padding: 10px 0;
    width: 100%;
    display: inline-block;
    font-family: $lato-font;

    &:active,
    &:focus {
      outline: none;
    }

    &::selection {
      background: $input-selection-highlight;
    }
  }

  .right-margin {
    width: calc(100% - 20px);
  }

  button {
    padding: 0px;
    margin: 0px;
    background: none;
    border: none;

    &:active {
      opacity: 0.7;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  img {
    color: white;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: -2px;
  }

  &.input-faded {
    border-bottom: 1px solid $gray-40;
  }
}
