@import '../../../variables.scss';

.catalog-filters__container {
  background: white;
  min-height: 100vh;
  padding: 7vw;
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
  }

  .exit-btn {
    background: none;
    border: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    opacity: 0.7;
  }

  .section-title {
    margin-bottom: 0;
    color: $gray-40;
    font-size: 0.9rem;
    font-family: $lato-font;
  }

  .list-toggle {
    background: #f6f1f3;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    font-family: $lato-font;
    font-weight: 700;
    font-size: 1.1em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 10px;

    &.-expanded {
      .list-toggle__icon {
        transform: rotate(180deg);
      }
    }

    &__label {
      padding: 0;
      margin: 0;
      flex-grow: 1;
    }

    &__icon {
      margin-top: 2px;
    }
  }

  .filter-option {
    display: flex;
    flex-direction: row;
    padding: 15px 10px;
    border-bottom: 1px solid lightgray;

    &__label {
      display: flex;
      flex-grow: 1;
      margin-right: 10px;
      margin-top: 4px;
      width: 100%;
    }

    .checkbox__container {
      width: auto;
    }
  }
}
