.hamburger__nav {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -10px;
  margin-top: -8px;
  pointer-events: none;
  z-index: 200;
  --safe-area-inset-top: env(safe-area-inset-top);
  padding-top: calc(10vw - var(--safe-area-inset-top));
  padding-left: 7vw;

  &.menu-open {
    top: 0;
  }

  .hamburger__btn {
    width: 40px;
    height: 40px;
    padding: 0;
    background: none;
    pointer-events: initial;
    opacity: 1;
    transition: 0.2s;

    &:active {
      opacity: 0.3;
      transform: scale(0.9);
    }
  }
}
