@import '../../../variables.scss';

.plan-welcome-container {
  background-image: linear-gradient(0deg, #191616 0%, rgba(0, 0, 0, 0) 70%),
    radial-gradient(
      circle at left top,
      rgba(242, 60, 46, 0.9) 0%,
      rgba(169, 7, 102, 0.6) 25%,
      rgba(125, 2, 72, 0) 60%
    ),
    url('/img/backgrounds/plan.jpg');
  background-size: cover;
  background-position: left top, center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 7vw;

  .sticky-button {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 7vw;
  }

  .wrapper {
    margin-bottom: 50px;
    text-align: center;

    img {
      margin: auto;
      width: 100px;
      height: 100px;
      margin-top: 20px;
    }

    h1 {
      text-transform: uppercase;
      font-family: $slab-font;
      color: white;
      font-size: 2em !important;
      font-family: $slab-font;
      text-align: center;
      width: 100%;
    }

    p {
      color: white;
      font-family: $lato-font;
      text-align: center;
      width: 100%;
      padding: 30px;
      padding-top: 10px;
      line-height: 1.5em;
      font-size: 1em;
    }
  }
}
