.loading-available {
  width: 8px !important;
  height: 8px !important;
  position: absolute;
  top: 15px;
  left: calc(50% - 4px);
}

.loading-time {
  margin-top: 0px !important;
  margin: 0 auto;
  left: 0 !important;
  width: 75% !important;
  border-radius: 50px;
}

.loading-name {
  margin-top: 0px !important;
  height: 1.25em !important;
  border-radius: 50px;
}

.loading-space {
  margin-top: 0px !important;
  margin: 0 auto;
  border-radius: 50px;
  width: 60% !important;
}

.loading-duration {
  margin-top: 0px !important;
  margin: 0 auto;
  border-radius: 50px;
  width: 75% !important;
}
