@import './variables.scss';

@font-face {
  font-family: 'MuseoSlab';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/MuseoSlab-700.eot');
  src: local('MuseoSlab'), local('MuseoSlab'),
    url('/fonts/MuseoSlab-700.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSlab-700.woff2') format('woff2'), url('/fonts/MuseoSlab-700.woff') format('woff'),
    url('/fonts/MuseoSlab-700.ttf') format('truetype');
}

@font-face {
  font-family: 'MuseoSlab';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/MuseoSlab-900.eot');
  src: local('MuseoSlab'), local('MuseoSlab'),
    url('/fonts/MuseoSlab-900.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSlab-900.woff2') format('woff2'), url('/fonts/MuseoSlab-900.woff') format('woff'),
    url('/fonts/MuseoSlab-900.ttf') format('truetype');
}

* {
  --keyboard-offset: 0px !important;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black !important;
}

// for devices with notch
#notch {
  --safe-area-inset-top: env(safe-area-inset-top);
  // --safe-area-inset-bottom: env(safe-area-inset-bottom);
  height: var(--safe-area-inset-top);
}

button:focus {
  outline: none;
}

.full {
  width: 100%;
}

.full-height-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.full-width {
  margin: 2%;
}

.flex {
  display: flex;
  flex-direction: column;
}

.page,
.auth-page {
  padding: 7vw;
  ion-grid {
    padding: 0;
    margin: 0;
  }
}

.ion-page {
  background-color: #e5dfe2;
}

.auth-page {
  background-image: linear-gradient(0deg, #191616 0%, rgba(0, 0, 0, 0) 70%),
    radial-gradient(
      circle at left top,
      rgba(242, 60, 46, 0.9) 0%,
      rgba(169, 7, 102, 0.6) 25%,
      rgba(125, 2, 72, 0) 60%
    ),
    url('/img/backgrounds/auth.jpg');
  background-size: cover;
  background-position: left top, center;
  padding-top: 0;

  h1 {
    text-transform: uppercase;
    font-family: $slab-font;
    color: white;
    font-size: 2em !important;
  }

  p {
    font-family: $lato-font;
    color: white;
    font-size: 1.2em !important;
  }

  .link {
    margin-top: 30px;
    font-family: $lato-font;
    color: white;
    font-size: 0.9em;
  }
}

.mdc-tab-scroller__scroll-content {
  overflow-y: hidden;
}
