@import './node_modules/mathsass/dist/math';

$brand-color-01: #f33b30;
$brand-color-02: #c31a40;
$brand-color-03: #a80766;
$brand-color-04: #7d0248;
$brand-color-05: #610738;

$gray-15: #2b2728;
$gray-30: #534c4f;
$gray-40: #776e71;
$gray-65: #aea2a8;
$gray-80: #d7ced2;
$gray-90: #e8e0e4;
$gray-95: #f6f1f3;

$premium-gold: #c9b951;
$premium-gold-darker: #968735;
$gray-bg: #e5dfe2;

$alert-success: #8af5b4;
$alert-error: #ffa2a2;
$alert-warn: #fffdaf;

$class-available: #42c47f;
$class-unavailable: #d04646;

$class-action-favorite: $brand-color-03;
$class-action-cancel: #d04646;
$class-action-book: #42c47f;

$blue: #5e85ff;

$btn-gradient-start: $brand-color-01;
$btn-gradient-end: $brand-color-02;

$brand-gradient-start: $brand-color-04;
$brand-gradient-middle: $brand-color-03;
$brand-gradient-end: $brand-color-01;

$btn-secondary-outline: $brand-color-02;
$token-input-outline: #d04646;
$input-selection-highlight: rgba(228, 49, 64, 0.5);

$exercise-video-bg: #f0efee;
$exercise-video-gif: #fff;
$search-selected: #a80866;

$dashboard-red-start: #f8576e;
$dashboard-red-end: #c31a39;

$dashboard-orange-start: #ff9c7a;
$dashboard-orange-end: #f34c30;

$dashboard-pink-start: #ff51b8;
$dashboard-pink-end: #a80766;

$dashboard-purple-start: #c866ff;
$dashboard-purple-end: #7e1ac7;

$gamification-highlight: #8f8589;
$gamification-new: #5e85ff;
$gamification-pts-button: #a80766;
$gamification-separator: #d9ced2;

$lato-font: 'Lato', sans-serif;
$slab-font: 'MuseoSlab', sans-serif;

// from https://codepen.io/thebabydino/pen/XbxKbL
@mixin rounded-hex($main-radius: 30%, $rounding-radius: 10%, $rotated: false, $precision: 20) {
  $n: 6;
  $central-angle: 360deg / $n;
  $angle: ($n - 2) * 180deg / $n;
  $max-var-angle: 2 * (90deg - $angle/2);
  $precision: 6;
  $unit-var-angle: $max-var-angle/$precision;

  $r-diff: $main-radius + $rounding-radius;

  $points: ();

  @for $i from 0 to $n {
    $vertex-angle: $i * $central-angle + if($rotated, -90deg, 0deg);
    $vertex-x: 50% + $r-diff * cos($vertex-angle);
    $vertex-y: 50% + $r-diff * sin($vertex-angle);

    @for $j from 0 through $precision {
      $curr-angle: $vertex-angle + ($j - 0.5 * $precision) * $unit-var-angle;
      $x: $vertex-x + $rounding-radius * cos($curr-angle);
      $y: $vertex-y + $rounding-radius * sin($curr-angle);

      $points: $points, $x $y;
    }
  }

  clip-path: polygon($points);
}
