@import '../../../variables.scss';

.app-container {
  background: $gray-bg;
  min-height: 100%;
  height: 100%;
  transform: none;
  border-radius: 0;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &.scroll {
    overflow: scroll;
  }

  &.menu-open {
    transform: scale(0.8) translate3d(80vw, 0, 0);
    border-radius: 18px;
    box-shadow: -6px 6px 24px 0 rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }
}

.nav-container {
  opacity: 0;
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s;

  .dismiss-area {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    padding: 0;
    margin: 0;
    background: none;
  }

  &.menu-open {
    opacity: 100;
  }
}
