@import '../../../variables.scss';

.remove-link {
  text-decoration: none;
  color: black;
}

.product-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.3);
  width: calc(43vw - 5px);
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;

  .product-card__label {
    border-radius: 20px;
    padding: 5px 10px;
    position: absolute;
    background-color: $gamification-new;
    top: 10px;
    right: 10px;

    p {
      margin: 0;
      color: white;
      font-size: 0.9em;
    }
  }

  &__top {
    background: lightgray;
    height: 120px;
    width: 100%;

    .product-card__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;

    .product-card__title {
      display: flex;
      text-align: center;
      font-weight: bold;
      font-size: 0.9em;
      font-family: $slab-font;
      text-transform: uppercase;
      white-space: normal;
      padding: 0;
      margin: 0;
      flex: 1;
      align-items: center;
    }

    .product-card__pts {
      background: $gray-15;
      font-family: $slab-font;
      color: white;
      text-transform: uppercase;
      border-radius: 50px;
      padding: 7px 10px;
      padding-top: 9px;
      font-size: 0.8em;
      font-weight: 700;
      margin: 10px 0;
    }

    .product-card__caption {
      margin: 0px;
      color: $gray-40;
      font-size: 0.9em;
      text-align: center;
    }
  }
}
