@import '../../../variables.scss';

.classes-header__container {
  padding: 7vw 7vw 0 7vw;
  background: #161616;
  background-image: radial-gradient(
      circle at left top,
      rgba(242, 60, 46, 0.9) 0%,
      rgba(169, 7, 101, 0.6) 40%,
      rgba(125, 2, 72, 0) 100%
    ),
    url('/img/backgrounds/classes.png');
  background-size: cover;
  z-index: 50;
  will-change: transform;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header__wrapper {
    will-change: opacity;
    flex-grow: 1;
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header__avatar {
      position: absolute;
      top: 4vh;
      right: 7vw;
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .header__info {
      .gym-selector {
        position: relative;
        padding: 10px;
        margin: 0;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.3);
        display: flex;
        align-content: center;
        color: white;
        width: 100%;

        &__name {
          padding: 0;
          margin: 0;
          flex-grow: 1;
          text-align: left;
          font-size: 1.8em;
        }

        &__icon {
          transition: 0.2s;
          position: absolute;
          top: 5px;
          right: 5px;

          &.-inverted {
            transform: rotate(180deg);
          }
        }
      }

      .header__date {
        display: block;
        width: 100%;
        color: white;
        font-family: $lato-font;
        font-size: 0.9em;
        margin: 0;
        margin-top: 15px;
        margin-left: 12px;
      }
    }
  }
}
