@import '../../../variables.scss';

.home-container {
  background: $gray-15;
  background-image: linear-gradient(0deg, #191616 0%, rgba(0, 0, 0, 0) 70%),
    radial-gradient(
      circle at left top,
      rgba(242, 60, 46, 0.9) 0%,
      rgba(169, 7, 102, 0.6) 25%,
      rgba(125, 2, 72, 0) 60%
    ),
    url('/img/backgrounds/auth.jpg');
  background-size: cover;
  background-position: left top, center;
  max-height: 100%;
  overflow: scroll;

  .header {
    position: fixed;
    width: 100%;
    z-index: 50;

    &.menu-open {
      top: 0;
    }

    #header-wrapper {
      padding: 7vw;
      transition: transform 0s;
      width: 100%;
      will-change: opacity;
      display: flex;
      align-items: center;

      ion-col {
        padding: 0;

        .avatar,
        .lazy-avatar {
          justify-self: flex-end;
          float: right;
          z-index: 50;
          margin-top: 0;
        }
      }
    }
  }

  .row {
    padding: 0 7vw;
    margin-bottom: 9vw;
  }

  .first-row {
    margin-bottom: 7vw;
    margin-top: 100px;
  }

  ion-grid,
  ion-content,
  ion-row {
    padding: 0;
    margin: 0;
    background: none;
  }

  .intro-header {
    color: white;
    font-size: 2em !important;
    font-family: $slab-font;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .gym-label {
    color: white;
    font-family: $lato-font;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
  }

  .date-label {
    color: white;
    font-family: $lato-font;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    margin-top: 10px;
  }

  .list-title {
    color: white;
    font-family: $lato-font;
    font-size: 0.9em;
    margin-bottom: 4vw;
    padding: 0 7vw;

    &.-challenges {
      padding: 0;
    }
  }

  .objective {
    display: block;
    width: 100%;
    text-align: center;
    color: $gray-65;
    font-size: 0.9em;
  }

  .class-list {
    ion-row {
      margin: 0;
    }

    ion-list {
      padding: 0;
      margin: 0;
      background: none;
      margin-bottom: 14vw;
      padding: 0 7vw;
      width: 100%;
    }
  }

  .dashboard-progress {
    padding: 0 7vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    .progress-card {
      max-width: calc(50% - 3.5vw);
      margin-bottom: 7vw;
    }
  }

  .dashboard-metrics {
    padding: 0 7vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7vw;

    .biometric-card {
      width: calc((86vw - 30px) / 3);
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .challenges__container {
    margin-left: -7vw;
    width: 100vw;

    .challenges__list {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;

      &-item {
        margin-right: 15px;

        &:first-child {
          margin-left: 7vw;
        }

        &:last-child {
          padding-right: 7vw;
        }
      }
    }
  }

  .more-link {
    padding: 0 7vw;
    width: 100%;
    text-align: right;
    margin-bottom: 7vw;

    a {
      font-family: $slab-font;
      text-transform: uppercase;
      color: $brand-color-03;
      text-decoration: none;
      font-weight: 700;
      letter-spacing: 0.25em;
      font-size: 0.8em;
    }
  }
}
