@import '../../../variables.scss';

.new-rating-card {
  position: relative;
  background: white;
  padding: 20px 15px;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .icon {
    width: 70px;
    margin-left: -10px;
    margin-right: 15px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
      margin-top: 20px;
      line-height: 1.4em;
      font-size: 0.9em;

      b {
        display: block;
        width: 100%;
        margin-top: 15px;
        font-family: $slab-font;
        font-size: 1.1em;
        text-transform: uppercase;
      }
    }

    .rating {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      .star {
        background: transparent;

        &.disabled {
          opacity: 0.5;
        }
      }
    }

    .underline-btn {
      display: block;
      text-align: center;
      width: 100%;
      font-size: 12px;
      color: $brand-color-03;
      padding: 18px 25px;
      border-radius: 50px;
      background: none;
      font-family: $slab-font;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.15em;

      &.disabled {
        opacity: 0.5;
      }

      &:active,
      &:focus {
        outline: none;
      }

      &:active {
        opacity: 0.7;
      }
    }
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
  }
}
