@import '../../../variables.scss';

.gym-card {
  width: 250px;
  height: 100vh;
  max-height: 65vh;
  background-image: radial-gradient(
      circle at left top,
      rgba(242, 60, 46, 0.9) 0%,
      rgba(169, 7, 101, 0.6) 30%,
      rgba(125, 2, 72, 0) 70%
    ),
    url('/img/backgrounds/gym.png');
  background-size: cover;
  background-position: left top, center;
  border-radius: 16px;
  padding: 7vw;
  transform: scale(0.9);
  opacity: 0.5;
  will-change: transform, opacity;
  transition: 0.3s;

  ion-grid,
  ion-row {
    margin: 0 !important;
    padding: 0;
  }

  ion-grid {
    height: 100%;
  }

  ion-row:first-child {
    height: calc(100% - 60px);
    display: flex;
    align-content: center;

    img {
      margin: auto;
      margin-bottom: 25px;
    }

    h1 {
      width: 100%;
      text-transform: uppercase;
      font-family: $slab-font;
      font-size: calc(7px + 3vw);
      color: white;
      padding: 0;
      margin: 0;
      font-weight: 900;
      text-align: center;
    }
  }

  ion-row:last-child {
    height: 60px;

    span {
      font-family: $lato-font;
      text-align: center;
      width: 100%;
      color: white;

      &:first-child {
        margin-bottom: 10px;
      }
    }
  }

  &.highlighted {
    transform: scale(1);
    opacity: 1;
  }
}
