@import '../../../variables.scss';

.edit-profile-page {
  padding: 7vw;

  form {
    background: none;
    min-height: calc(100vh - 7vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 7vw;
  }

  ion-content,
  ion-grid {
    margin: 0;
    padding: 0;
  }

  .line-input,
  .text-area {
    border-bottom: 1px solid $brand-color-03;

    .placeholder {
      color: $gray-40;
    }

    input,
    textarea {
      color: $gray-15;
      font-weight: 700;
    }

    textarea {
      font-size: 1.2em;
    }
  }

  .close {
    position: absolute;
    right: calc(7vw - 10px);
    top: calc(7vw - 10px);
    background: transparent;
    opacity: 0.8;
  }

  .passwordEdit {
    width: 100%;

    .line-input {
      margin-bottom: 3vh;

      button {
        background-color: $gray-80;
        border-radius: 100%;
      }
    }
  }
}
