@import '../../../variables.scss';

.on-boarding-container {
  position: relative;

  .gray-circle {
    position: absolute;
    width: 86vw;
    height: 86vw;
    top: calc((100vh - 86vw - 20px) / 2);
    right: calc(7vw);
    border-radius: 100vw;
    background: linear-gradient(-90deg, transparent 0%, #e8e0e4 80%);
    pointer-events: none;
    mix-blend-mode: multiply;
    transition: 0.3s;
  }

  .pink-circle {
    position: absolute;
    width: 70vw;
    height: 70vw;
    top: calc((100vh - 70vw - 20px) / 2);
    right: calc(15vw);
    border-radius: 100vw;
    background: linear-gradient(135deg, #f23c2e 0%, #a90766 48.57%, #7d0248 100%);
    mix-blend-mode: darken;
    opacity: 0.8;
    pointer-events: none;
    transition: 0.3s;
  }

  .title-overlay {
    position: absolute;
    top: calc(25vh - 10px);
    left: 0;
    right: 0;
    bottom: 0;
    height: 50vh;
    display: flex;
    align-items: center;
    pointer-events: none;

    div {
      display: flex;
      align-items: center;
      pointer-events: none;
    }

    h1 {
      font-family: $slab-font;
      color: white;
      font-size: 2.2em;
      width: 70vw;
      margin-left: 15vw;
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
      pointer-events: none;
    }
  }

  ion-grid,
  ion-row,
  ion-col {
    padding: 0;
    margin: 0;
  }

  ion-grid {
    background: white;
  }

  ion-row:nth-child(2) {
    flex-grow: 1;
  }

  ion-row:nth-child(3) {
    height: 70px;
  }

  .logo-header {
    div {
      background: #282828;
      width: 2px;
      height: 25px;
      margin: auto;
      margin-bottom: 15px;
    }

    img {
      margin: auto;
    }
  }

  .swipe-page {
    height: calc(100vh - 150px);
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    ion-row {
      img {
        margin: auto;
        max-height: 100%;
        object-fit: cover;
      }
    }

    ion-row:first-child {
      height: 60vh;
    }

    ion-row:last-child {
      flex-grow: 1;
      display: flex;
      align-items: center;

      p {
        text-align: center;
        font-family: $lato-font;
        margin: 0;
        padding: 0 15vw;
        line-height: 1.5em;
        margin-top: 10px;
      }
    }
  }

  .swiper-bottom-bar {
    display: flex;
    align-items: center;
    padding: 0 7vw;

    button {
      padding: 0;
      margin: 0;
      background: none;
      font-size: 0.9em;
      text-transform: uppercase;
      color: $gray-40;
      font-family: $slab-font;
      font-weight: 700;
    }

    ion-col:nth-child(3) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .swiper-bullets {
    text-align: center;
    width: 100%;

    .bullet {
      background: $gray-15;
      width: 6px;
      height: 6px;
      display: inline-block;
      border-radius: 10px;
      margin: 5px;
      opacity: 0.5;
      transition: 0.2s;
      transform: scale(1);

      &.highlighted {
        opacity: 1;
        transform: scale(1.3);
      }
    }
  }
}
