@import '../../../variables.scss';

.contact-header {
  background: black;
  width: 100%;
  padding: 7vw;
  background-image: radial-gradient(
      circle at left top,
      rgba(242, 60, 46, 0.9) 0%,
      rgba(169, 7, 102, 0.6) 35%,
      rgba(125, 2, 72, 0) 80%
    ),
    url('/img/backgrounds/gym.png');
  background-size: cover;
  overflow: hidden;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: calc(4vh + 40px);

  .avatar {
    position: absolute;
    top: 4vh;
    right: 7vw;
  }

  .contact-title {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: $slab-font;
    font-size: 1.7em;
    padding: 0 7vw;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;

    .gym-name {
      color: white;
      font-family: $lato-font;
      font-size: 1.1em;
      font-weight: 700;
    }

    .date {
      font-family: $lato-font;
      font-size: 0.9em;
      color: white;
      margin-top: 5px;
      display: block;
    }
  }
}
