@import '../../../variables.scss';

.invite-challenge-card {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.3);
  width: 86vw;
  height: 180px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 10vw;
  background: linear-gradient(136.76deg, #f23c2e 0%, #a90766 48.57%, #7d0248 100%);

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
      background-image: url('/img/badges/none/add_friend.svg');
      background-size: 220px;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 5;
      mix-blend-mode: multiply;
      opacity: 0.7;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 1.5em;
    font-family: $slab-font;
    white-space: normal;
    color: white;
    text-align: center;
    z-index: 10;
  }
}
