@import '../../variables.scss';

.sliding-list-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 270;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  opacity: 0;

  &.showing {
    opacity: 1;
    pointer-events: initial;
  }
}

.sliding-list {
  position: absolute;
  top: calc(3vh + 150px);
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 28px 28px 0 0;
  z-index: 280;
  padding: 0 3vh 3vh 3vh;
  overflow-y: scroll;
  transform: translate3d(0, 100vh, 0);
  transition: 0.4s;

  &.showing {
    transform: translate3d(0, 0, 0);
  }

  h3 {
    font-size: 1em;
    font-family: $lato-font;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: $gray-15;
    padding: 25px 0;
    margin: 0;
  }

  .selected-option {
    width: 100%;
    margin-bottom: 5vh;

    span {
      width: 100%;
      display: block;
      color: $gray-40;
      font-size: 0.9em;
      font-family: $lato-font;
    }

    div {
      font-family: $lato-font;
      background: $gray-95;
      font-size: 1.5em;
      padding: 0.3em 0.4em;
      border-radius: 6px;
      margin-top: 10px;
      display: flex;
      color: $gray-15;

      b {
        flex-grow: 1;
        align-self: center;
      }

      img {
        justify-self: flex-end;
        margin-right: -8px;
      }
    }
  }

  .list-options {
    width: 100%;

    span {
      width: 100%;
      display: block;
      color: $gray-40;
      font-size: 0.9em;
      font-family: $lato-font;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 10px;

      li {
        border-bottom: 1px solid $gray-bg;

        button {
          font-size: 1.6em;
          padding: 0.6em 0.65em;
          margin: 0;
          display: flex;
          background: none;
          width: 100%;

          b {
            font-size: 0.8em;
            font-family: $lato-font;
            color: $gray-15;
            font-weight: 700;
            flex-grow: 1;
            align-self: center;
            text-align: left;
          }

          span {
            display: inline-block;
            width: 70px;
            text-align: right;
            align-self: center;
            font-size: 0.6em;
          }
        }
      }
    }
  }
}
